// Colors
// $oaktree-green: #00AD74;
$oaktree-green:#009B72;

$yellow-1: #B58A0A; 
$yellow-2: #E0AD16;
$yellow-3: #FEC51D; // Main Yellow
$yellow-4: #FDE7A4;
$yellow-5: #FFF3CE;

$red-1: #A82024;
$red-2: #C33135;
$red-3: #BA4A4D;
$red-4: #C17779;
$red-5: #FFD3D4;

$purple-1: #713E5A;
$purple-2: #F0DBE7;

$white: #fff;
$black: #212923;

$lightest-grey: #F8F8F8;
$lighter-grey: #E3E3E3;
$light-grey: #b1b4b6;
$grey:#7F7F7F;
$dark-grey: #3D3437;
$darker-grey: #4c5151;

$accent-dark:#190933;

$bhf-red :#EF0C2D;



$blue-1: #0D1F3B;
$blue-2: #012169;
$blue-3: #0086C5;
$blue-4: #F6F8FF;
$blue-5: #E0F5FF;

$green-4: #A3D9B4;
$green-5: #D5F0DD;



// Type
// $fontHeadings: 'Copyright Klim Type Foundry', serif;
$fontHeadings: 'Sentient-Variable', serif;
// $fontText: 'Averta', serif;
$fontText: 'Euclid Circular A', 'Helvetica', sans-serif;

$dark-green-1: #17494D;
$dark-green-2: #09595E;
// $dark-green-2: #407074;
$dark-green-3: #60898D;
$dark-green-4: #8EC4C7;
$dark-green-5: #A5E3E8;
$dark-green-6: #DCEFF0;
$dark-green-6: #EDF9FA;



$light-green-1: #D6EFE3;
$light-green-2: #E5FCFF;


$shadow-1:rgba(23, 73, 77, 0.14);