// Colors
$oaktree-green: #00AD74;

$yellow1: #FFF3CE;
$yellow2: #FDE7A4;
$yellow3: #FEC51D; // Main Yellow
$yellow4: #E0AD16;
$yellow5: #B58A0A;

$white: #fff;
$black: #212923;

$lightest-grey: #F8F8F8;
$lighter-grey: #E3E3E3;
$light-grey: #b1b4b6;
$grey: #344646;
$dark-grey: #616667;
$darker-grey: #4c5151;

$accent-dark:#190933;

$bhf-red :#EF0C2D;

$blue-1: #F6F8FF;


// Type
// $fontHeadings: 'Copyright Klim Type Foundry', serif;
$fontHeadings: 'Sentient-Variable', serif;
// $fontText: 'Averta', serif;
$fontText: 'Euclid Circular A', 'Helvetica', sans-serif;

$dark-green-1: #17494D;
$dark-green-2:#058466;
// $dark-green-2:#28686C;
$dark-green-3: #058466;
// $dark-green-3: #4E9195;
$dark-green-4: #8EC4C7;
$dark-green-5: #DCEFF0;

$light-green-1: #D6EFE3;

$shadow-1:rgba(23, 73, 77, 0.14);