// Colors
$oaktree-green: #00612a;

$white: #fff;
$black: hsl(0, 0%, 4%);

$lightest-grey: #F8F8F8;
$lighter-grey: #ECEFF2;
$light-grey: #b1b4b6;
$grey: #344646;
$dark-grey: #616667;
$darker-grey: #4c5151;

$accent-dark:#190933;


$accent-blue-1: #2A5D84;
$accent-blue-2: #4489BE;
$accent-blue-3: #7CC6FE;
$accent-blue-4: #C6E6FF;
$accent-blue-5: #F5FBFF;

$accent-red-1: #5D0C0A;
$accent-red-2: #A21E1B;
$accent-red-3: #EF6461;
$accent-red-4: #FFB1AF;
$accent-red-5: #FFEDED;

$accent-pink-1: #31101D;
$accent-pink-2: #6F2F48;
$accent-pink-3: #914D68;
$accent-pink-4: #DAB6C4;
$accent-pink-5: #FFEFF5;

// Type
$fontHeadings:'Copyright Klim Type Foundry', serif;
$fontText: 'FONTSPRING DEMO - Averta', serif;
// $fontText:'Mallory Book', serif;

// $dark-green-1: #17494D;
$dark-green-1: #004D49;
$dark-green-2:#058466;
// $dark-green-2:#28686C;
$dark-green-3: #058466;
// $dark-green-3: #4E9195;
$dark-green-4: #8EC4C7;
$dark-green-5: #DCEFF0;

$shadow-1:rgba(23, 73, 77, 0.14);