.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    padding: 25px;
    z-index: 100;
    .inner-bar {
        width: 100%;
        height:100%; 
        border-radius: 8px;
        display: flex;
        align-items: center;
        @media(min-width: 490px) {
            padding: 15px 50px;
            padding: 15px;
        }
        @media(min-width: 800px) {
            background-color: $white;
            // background-color: $dark-green-1;
            box-shadow: 0 0 21px rgba(0,0,0,0.19);
            box-shadow: 0 0 21px rgba(23,73,77,0.50);
        }
        .phone-number {
            display: none;
            @media(min-width: 800px) {
                display: initial;
                padding-left: 50px;
            }
            p {
                font-size: 1.6rem;
                color: $dark-green-2;
            }
            .number {
                font-size: 3.4rem;
                font-weight:600;
                color: $dark-green-1;
            }
        }
        .button-wrapper{ 
            margin: 0 auto;
            @media(min-width: 800px) {
                margin-right:0;
            }
            .main-cta {
                display: flex;
                align-items: center;
                justify-content: center;
                padding:8px 30px;
                background-color: $red-2;
                position: relative;
                overflow: hidden;
                transition: 0.3s box-shadow, 0.1s transform;
                .hover-bg {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width:100%;
                    height:0%;
                    background-color: $red-3;
                    // transition: 0s;
                }
                .brochure-icon {
                    width: 50px;
                    margin-right: 10px;
                }
                p {
                    font-size: 1.8rem;
                    font-weight: 600;
                    position: relative;
                    text-align: left;
                    padding: 10px 0;
                    padding-left: 15px;
                
                }
            }
            .main-cta:hover {
                box-shadow: 0 0 21px rgba(195,49,53,0.5);
                // .hover-bg {
                //     height:100%;
                //     max-height: 100%;
                // }
            }
            // .main-cta:active {
            //      background-color: $white;
            // }
        }
    }
}

.hide-bar {
    bottom: -150px;
}

.bottom-bar.orphan-bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width: 1000px) {
        display: none;
    }
    .inner-bar {
        background: none;
        box-shadow: none;
        .phone-number {
            display: none;
        }
        .button-wrapper {
            margin: 0 auto;
        }
    }
}