footer {
    .email-signup-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-green-1;
        padding:50px;
        border-radius: 3px;
        @media(min-width: 910px) and (max-width: 1249px){
            flex-direction: row;
            justify-content: flex-start;
            padding: 30px 50px;
        }
        @media(min-width:1250px) {
            flex-direction: row;
            justify-content: center;
            padding: 30px 50px;
        }
        .content-and-form {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 60px;
            @media(min-width: 910px){ 
                margin-right: auto;
                align-items: flex-start;
                margin-bottom: 0;
            }
            @media(min-width:1250px) {
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-right: 0;
            }
            .content {
                margin-right: auto;
                text-align: center;
                @media(min-width: 910px){ 
                    text-align: left;
                }
                h6 {
                    font-size: 5rem;
                    letter-spacing:0.1rem;
                    color: $white;
                }
                p {
                    font-size: 3rem;
                    font-weight: 400;
                    color: $white;
                }
            }
            .form-wrapper {
                margin-top: 25px;
                @media(min-width:1250px) {
                    margin: 0 auto;
                }
                form {
                    .input-wrapper{
                        display: flex;
                        height: fit-content;
                        input[type=text] {
                            padding: 15px 20px;
                            background-color: $white;
                            border: none;
                            font-size: 2rem;
                            color: $black;
                            width: 300px;
                            border-radius: 2px 0 0 2px;
                        }
                        input[type=text]::placeholder {
                            opacity: 0.8;
                        }
                        input[type=submit] {
                            width: 70px;
                            background-color: $yellow3;
                            display: flex;
                            border: none;
                            background-image: url('/vectors/dark-green-arrow-btn.svg');
                            background-repeat: no-repeat;
                            background-position: center;
            
                            border-radius: 0 2px 2px 0;
                        }
                    }
                }
            }           
        }
    }
    .footer-navigation {
        .logo-link {
            display: block;
            margin-left: 15px;
            margin-top: 30px;
        }
        nav {
            width: 100%;
            padding: 0 15px;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            @media(min-width: 1200px) {
                justify-content: center;
                flex-wrap:nowrap;
            }
            .nav-section {
                display: flex;
                flex-direction: column;
              
                @media(min-width: 1200px) {
                    flex-direction: row;
                    margin-right: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                .mobile-social {
                    display: initial;
                    @media(min-width: 990px) {
                        display: none;
                    }
                }
            }
            .desktop-social {
                display: none;
                @media(min-width: 990px) {
                    display: flex;
                }
            }
            ul {
                margin-bottom: 20px;
                @media(min-width: 1200px) {
                    margin-right: 50px;
                }
                .list-header {
                    font-size: 2.0rem;
                    font-weight:500;
                    color: $dark-green-1;
                    margin-bottom: 20px;
                }
                li {
                    margin-bottom: 18px;
                    a {
                        font-size: 1.8rem;
                        font-weight: 300;
                        color: $black;
                    }
                }
            }
            .connect {
                margin-right: 0;
                .social-link {
                    display: flex;
                    align-items: center;
       
                    font-weight: 400;
                    .icon {
                        margin-right: 10px;
                        height: fit-content
                    }
                }
            }
        }
    }
    .footer-footnote {
        margin-top: 50px;
        border-top: $lighter-grey 1px solid;
        background-color: $lightest-grey;
        .footnote-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 25px;
            @media(min-width: 700px)  {
                flex-direction: row;
            }
            p {
                @media(min-width: 700px)  {
                border-right: 1px $black solid;
                padding-right: 20px;
                }
            }
            p, a {
                font-size: 1.6rem;
                font-weight:300;
                color: $black;
                margin-bottom: 15px;
                @media(min-width: 700px)  {
                    margin-right:20px;
                    margin-bottom: 0;
                    font-size: 1.4rem;
                }
            }
        }
  
    }
}

