header {
  width: 100%;
  position: relative;
  z-index: 999;
  background-color: $white;
  border-bottom: 1px solid $lighter-grey;

  .top-header {
    padding: 10px 0;
    // border-bottom: 1px $lighter-grey solid;
    background-color: $dark-green-1;
    .con-reg {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1500px;
      p {
        font-size: 1.4rem;
        color: $white;
        font-weight: 400;
        padding:0;
        margin-right: 8px;
      }
      .bhf-logo {
        width: 200px;
      }
    }
    .mobile-header-logo {
      display: block;
      width: 40%;
      max-width: 220px;
      padding: 15px 0;
      @media(min-width: 970px) {
        display: none;
      }
    }
    .mobile-phone-number {
      border-radius: 4px;
      background-color: rgba(240,246,247,1);
      border: 2px solid $dark-green-1;
      padding: 10px 25px;
      margin-left: auto;
      @media(min-width: 970px) {
        display: none;
      }
      p {
        font-size: 1.8rem;
        font-weight: 500;
        color: $dark-green-1;
      }
    }
    .trustpilot-logo {
      width: 190px;
      margin-right: auto;
    }
    .supporting-bhf {
      margin-left: 30px;
      display: none;
      @media(min-width: 970px) {
        display: block;
      }
      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $grey;
        margin-bottom:4px;
         }
      .bhf-logo {
        width:120px;
      }
    }
    .search-bar {
      position: relative;
      // height: 30px;
      display:none;
      margin: 0 auto;
      @media(min-width: 970px) {
        display: flex;
      }
      input[type="text"] { 
        width: 320px;
        height: 35px;
        border: 1px solid $lighter-grey;
        background-color: $lightest-grey;
        border-radius:2px;
        outline: none;
        padding: 10px;
        padding-right: 42px;
        font-size: 1.4rem;
      }
    
      input[type="submit"] {       
        height: 35px;
        border: 1px solid  $dark-green-1;
        background-color: $dark-green-1;
        border-radius:2px;
        outline: none;
        position: absolute;
        top:0;
        right:0;
        color: $white;
        padding: 0 20px;
        background-image: url('../public/buttons/icon-search-white.svg');
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
      }
      label {
        display: none;
      }
    }
    .header-phone-number {
      display: none;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
      @media(min-width: 970px) {
        display: flex;
      }
      .number-support {
        font-size: 1.4rem;
        color: $grey;
      }
      .number {
        font-size: 3.2rem;
        font-weight: 600;
        color: $dark-green-1;
        letter-spacing: 1px;
      }
    }
  }
  .header-inner {
    box-shadow:  0 3px 9px rgba(23,73,77, 0.12) ;
    .con-reg {
      display: flex;
      align-items: center;
      padding: 10px 25px;
      height: 100%;
      max-width: 1500px;
    }
    .mobile-menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; 

      margin-left: auto;
      @media(min-width: 1080px) {
        display: none;
      }
      p {
        font-size:1.6rem;
        margin-top: 5px;
        text-align: center;
      }
    }
    .header-logo,.header-cta {
      display: flex;
    }
    .header-logo {
      width: 60%;
      @media(min-width: 400px) {
        width: unset;
      }
    }
    .logo {  
      margin-right: 20px;
      width: 100%;
      span{
        display: none;
      }
      @media(min-width: 400px) {
        width: 170px;
       }
    }
    .main-nav {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      height: 40px;
      display: none;
      @media(min-width: 1080px) {
       display: flex;
      }
      .main-ul {
        display: flex;
        justify-content: center;
        position: relative;
        li {
          padding: 0 20px;
          padding: 0 18px;
          position: relative;
          cursor: pointer;
          &:last-of-type {
            margin-right:0;
            padding-right: 0;
          }
          a {
            font-size: 1.7rem;
            font-weight: 500;
            letter-spacing: 0px;
            color: $dark-green-2;
            display: flex;
            align-items: center;
            .arrow {
              width: 13px;
              height:auto;
              margin-left: 5px;
              transition: 0.2s;
            }
            @media(min-width: 1080px) and (max-width: 1150px) {
              font-size: 1.6rem;
              letter-spacing: 0px;
            }
          }
        }
        li.is-hovered {
          a {
            opacity: 1;
            .arrow {
              width: 13px;
              height:auto;
              margin-left: 5px;
              transform: rotate(180deg);
            }
          }
        }
        li.not-hovered {
          a {
            opacity: 0.5;
          }
        }
      }
    }
    .contact-us {
      margin-left: auto;
      .main-cta {
        background-color: $dark-green-1;
        padding: 13px 25px;
        min-width: 0;
        border-radius: 5px;
        box-shadow: 0 3px 13px rgba(23, 73, 77 , 0.22);
        p {
          font-size: 1.6rem;
        }
      }
    }
    .header-phone-number {
      display: none;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-end;
      @media(min-width: 1080px) {
        display: flex;
       }
      .number-support {
        font-size: 1.3rem;
        font-weight: 500;
        color: $grey;
        text-align: right;

      }
      .number {
        font-size: 2.5rem;
        font-weight: 600;
        color: $dark-green-1;
        text-align: right;
        letter-spacing: 0.5px;

      }
    }
    .mobile-call-btn {
      background-color: $oaktree-green;
      color: $white;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 6px;
      margin-left: auto;
      padding: 12px 25px;
      @media(min-width: 750px) {
        display: none;
      }
    }
    .orphan-header-number {
      display: none;
      margin-left: auto;
      @media(min-width: 750px) {
        display: flex;
      }
    }
  }
  .header-inner.orphan-header {
      display: flex;
      align-items: center;
      padding: 10px 25px;
      height: 100%;
      max-width: 1400px;
      box-shadow: none;
  }
  .index-usp-banner {
    .inner-div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        max-width: 900px;
        margin: 0 auto;  
          padding: 8px 15px;
        @media(min-width: 300px) {
            display: flex;
            justify-content: space-around;
            width: fit-content
        }
        .usp-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // margin-right: 35px;
            &:last-of-type {
                display: none;
                @media(min-width: 620px) {
                    display: flex;
                }
            }
 
            @media(min-width: 800px) {
                flex-direction: row;
            }
            .icon-wrapper {
                width: 35px;
                margin-right: 0px;  
                margin-bottom: 5px;

                @media(min-width: 800px) {
                    margin-right: 10px;
                    margin-bottom:0;
                }
            }
            p {
                text-align: center;
                font-weight: 400;
                color: $dark-grey;
                opacity: 0.8;
            }
        }
    }
}
}