header {
    width: 100%;  
    // border-bottom: 1px solid #EDEDED;
    position: relative;
    .header-top {
      display: flex;
      align-items: center;
      padding: 15px 5%;
      padding-bottom: 0;
      position: relative;
      z-index: 100;
      background-color: $white;
      @media(max-width: 800px) {
        padding-bottom: 15px;
      }
      .phone-number {
        margin-left: auto;
        text-align: right;
        p {
          margin: 0;
          font-size: 0.9rem;
          font-weight: 600;
          color: $dark-green-2;
          text-transform: uppercase;
        }
        .number {
          font-size: 1.6rem;
          font-weight: 600;
          color: $dark-green-1;
        }
      }
    }
    .header-nav {
      width: 100%;
      padding: 0 5%;
      padding-top: 0;
      position: relative;
      z-index: 100;
      background-color: $white;
      @media(max-width:800px) {
        display: none;
      }
      nav {
        ul {
          display: flex;
          .header-li {
            // margin-right: 25px;
            padding: 15px 0;
            position: relative;
            .header-link {
              font-size: 0.9rem;
              font-weight: 400;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: $grey;
              padding: 15px;
            }
            .header-link:hover {
              color: $dark-green-3;
            }
          }
        }
      }
    }
  
    .header-dropdown {
      position: absolute;
      // width: 100%;
      display: flex;
      z-index: 100;
      justify-content: center;
      overflow: hidden;
      .header-dd-inner {
        background-color: $white;
        margin-top: 15px; 
        border-radius: 20px;
        width: auto;
        transition: 0.2s;
        .dd-content {
          display: flex;
          justify-content: center;
          align-items: stretch;
          padding: 25px;
        }
        .nav-header {
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: uppercase;
          color: $dark-green-1;
        }
        .nav-list {
          margin-top: 15px;
          margin-right: 25px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 400px;
          max-height:300px;
          li {
            padding: 15px 20px;
            border-radius: 7px;
            cursor: pointer;
            a {
              font-size: 1.1rem;
              display: flex;
              align-items: center;
              // justify-content: center;
              span {
                font-size: 1.1rem;
              }
              .icon {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid $lightest-grey;
                margin-right: 15px;
                background-color: $white;
              }
            }
          }
          li:hover {
            background-color: $dark-green-5;
            a {
              span {
                font-size: 1.1rem;
                color: $dark-green-1;
                font-weight: 500;
              }
              .icon {
                border: 1px solid $white;
              }
            }
          }
        }
        .nav-list.extend-list {
          max-height:100%;
          margin-right: 0;
        }
        .dd-image {
          width: 500px;
          height: 323px;
          background-color: $dark-green-5;
          border-radius: 6px;
          margin-left: 25px;
          position: relative;
          overflow: hidden;
        }
        .dd-bottom {
          width: 100%;
          border-radius: 0 0 20px 20px;
          background-color: $dark-green-5;
          display: flex;
          align-items: center;
          padding: 25px;
          .bottom-content {
            padding-right: 25px;
            p {
              margin: 0;
              font-size: 1rem;
              font-weight: 400;
              color: $grey;
              line-height: 1.4;
            }
            .bottom-header {
              color: $dark-green-1;
              font-weight: 600;
            }
          }
          a {
            padding: 15px 25px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0 5px 19px rgba(37, 72,76,0.17);
            margin-left: auto;
            .btn-bg {
              position: absolute;
              top: 0;
              left: 0;
              transform-origin: 0 100%;
              width: 100%;
              height: 100%;
              background-color: $dark-green-1;
              transition: transform .5s;
              transform: scaleY(0);
            }
            .btn-text {
              font-size:1rem;
              font-weight: 600;
              color: $dark-green-1;
              position: relative;
            }
          }
          a:hover { 
            
            .btn-bg {
              transform: scaleY(1);
            }
            .btn-text {
              color: $white;
            }
          }
        }
      }
      // .header-dd-inner {
      //   width: calc(100% - 30px);
      //   height: 100%;
      //   max-height:0;
      //   transition: max-height 0.2s;
      //   background-color: $white;
      //   border-radius: 0 0 8px 8px;
      //   overflow: hidden;
      //   box-shadow: 0 6px 19px rgba(23,73,77,0.20);
        // .dd-content {
        //   width: 100%;
        //   display: flex;
        //   padding: 30px;
        //   .dd-navigation {
        //     width: 60%;
        //     display: flex;
        //     ul {
        //       // margin-right: 100px;
        //       &:last-of-type {
        //         margin-right: 30px;
        //         margin-left: auto;
        //       }
        //       .list-header {
        //         color: $dark-green-1;
        //         font-size: 1.1rem;
        //         font-weight: 600;
        //       }
        //       li {
        //         a {
        //           color: $grey;
        //           font-size: 1.1rem;
        //           font-weight: 400;
        //           padding: 10px 0;
        //           display: block;
        //         }
        //         a:hover {
        //           color: $dark-green-3;
        //         }
        //         .all-products {
        //           text-decoration: underline;
        //           text-underline-offset: 3px;
        //         }
        //       }
        //     }
        //     .grid-nav {
        //       display: grid;
        //       grid-template-columns: repeat(2,1fr);
        //       gap: 5px 30px;
        //       .list-header {
        //         grid-column-start:1;
        //         grid-column-end:3;
        //         text-align: left;
        //       }
        //     }
        //     .flex-nav {
        //       display: flex;
        //       flex-direction: column;
        //       .list-header {
        //         margin-bottom: 10px;
        //       }
        //       li {
        //         a {
        //           padding: 20px 0;
        //         }
        //       }
        //     }
        //   }
        // }
        // .dd-image {
        //   width: 40%;
        //   height: 228px;
        //   background-color: rgba(0,0,0,0.10);
        //   border-radius: 4px;
        // }
      // }
    }
    .dropdown {
      overflow: unset;
      .header-dd-inner {
        max-height:550px;
       }
    }
    .header-dropdown:hover { 
      overflow: unset;
      display: flex!important;
      .header-dd-inner {
        max-height: 550px;
       }
    }

  } 

  .orphan-header {
    background-color: $dark-green-1;
    border: none;
    .header-top { 
      background-color: $dark-green-1;
      padding-bottom: 15px;
      .phone-number {
        p {
          color: $dark-green-4;
        }
        .number {
          color: $white;
        }
      }
    }
  }