body.mobile-navbar {
    max-height: 100vh;
    overflow: hidden;
    .mobile-navigation {
        left: 0;
        @media(min-width: 1080px) {
            left: -100%;
        }
    }
}
.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    max-width: 500px;
    left: -100%;
    z-index: 999;
    height: 100vh;
    overflow: scroll;
    transition: 0.2s;   
  
    .top-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 15px;
        border-bottom: 1px $lighter-grey solid;
        .logo-wrapper {
            width: 60%;
            @media(min-width: 500px){ 
                width: 190px;
            }
        }
        .mobile-menu-btn {
           display: none;
            margin-left: auto;
        }
    }
    .main-nav {
        button,a {
            padding: 15px 25px;
            font-size: 1.8rem;
            font-weight: 400; 
            color: $black;
            display: block;
            width: 100%;
            border-radius: 0;
            text-align: left;
            border-bottom: 1px $lighter-grey solid;
            color: $dark-green-1;
            font-weight: 500;
            cursor: pointer;
            @media(min-width: 500px){ 
             font-size: 2rem;
             padding: 20px 25px;
            }
        }
        button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .arrow {
                transition: 0.2s;
            }
        }
        .subNav {
            height: 100%;
            max-height: 0;
            overflow: hidden;
            li {
                a {
                    padding: 0;
                    color: $black;
                    font-weight: 400;
                }
            }
        }
        .open-submenu {
            button {
                border: none;
                .arrow {
                    transform: rotate(180deg);
                }
            }
            .subNav {
                max-height: 100%;
                li {
                    a {
                        padding: 15px 25px;
                        border: none;
                    }
                }
            }
        }
    }
    .button-wrapper {
        padding: 25px;
        .phone-number {
            margin-bottom: 15px;
            p {
                font-size: 1.8rem;
                margin-bottom: 3px;
            }
            .number {
                font-size: 2.8rem;
                font-weight: 600;
                color: $oaktree-green;
            }
        }
        button {
            width: 100%;
            max-width: 350px;
        }
        button:hover {
            color: $white;
            p {
                color: $white;
            }
        }
    }
}
.hide-mobile-navigation {
    left: -100%;
}

// .breadcrumb-navigation {
//     .breadcrumb {
//         display: flex;
//         // justify-content: center;
//         // margin-right: auto;
//         margin: 10px 0;
//         li {
//             list-style: none;
//             margin: 0 10px;
//             a {
//                 font-size:14px;
//                 font-weight: 500;
//                 color: black;
//                 text-decoration: none;
//                 text-transform: capitalize;
    
//                 &:after {
//                     content: ">" !important;
//                     margin-left:  8px; 
//                     font-size: 10px;
//                     line-height: 1;
//                     color: black;
//                     pointer-events: none;
//                   }
//             }
//             a:hover {
//                 color: pink;
//             }
//             p {
//                 font-size:14px;
//                 font-weight: 500;
//                 color: black;
//                 text-decoration: none;
//                 text-transform: capitalize;
//                 margin: 0;
//                 opacity: 0.5;
//             }
      
//         }
//     }
// }

.header-arrow {
    position: absolute;
    top: 2px;
    top: -16px;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(12px) translateX(-8.4375px) translateX(50%) rotate(45deg);;
    border-radius: 3px 0 0 0;
    background-color: $white;
    z-index: 2;
    transition: 0.2s;
}
.dd-menu-wrapper {
    position: absolute; 
    top: 17px;
    left:0;
    z-index: 1000;
    max-width: 1250px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
    max-height: 0;
}
.dd-menu-wrapper.is-visible {
    padding: 50px 25px;
    overflow: visible;
    max-height: 9999px;
    transition: 0.3s;
    .dd-menu {
        .dd-inner {
           opacity: 1;
           transition: 0.3s opacity;
        }
    }
}

.dd-menu {
    opacity: 0;
    width: fit-content;
    position: absolute;
    top:0px;
    padding-top: 30px;
    transition: 0.3s ease;
    .dd-inner {
        background-color: $white;
        padding: 25px 10px;
        border-radius: 9px;
        min-width: 300px;
        box-shadow: 0 2px 21px rgba(37,72,76,0.29);
        transition: 0.3s opacity;
        position: relative;
        opacity: 0;
    }
    .menu-inner {
        display: flex;
        .menus {
            width: fit-content;
            &:nth-of-type(even) {
                margin-left: 25px;
            }
            .menu-title {
                font-size: 1.6rem;
                font-weight: 500;
                color: $dark-green-3;
                letter-spacing: 0.2px;
                padding: 0 15px;
                margin-bottom: 5px;
            }
            ul {
                li {
                    padding: 16px 15px;
                    border-radius: 4px;
                    transition: 0.1s;
                    a {
                        .icon {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-right: 15px;
                            background-color: $light-green-2;   
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                width:90%!important;
                            }

                        }
                        .product-image {
                            width: 50px;
                            height: 50px;
                            position: relative;
                            border-radius: 50%;
                            margin-right: 15px;
                            padding: 15px;
                        }
                        .link-content {
                         
                            .link-title {
                                font-size: 1.8rem;
                                font-weight: 500;
                                color: $dark-green-1;
                            }
                            .link-desc {
                                font-size: 1.6rem;
                                font-weight: 300;
                                color: $dark-green-3;
                                white-space: nowrap;
                                margin-top: 3px;
                            }
                        }
                    }
                }
                li:hover {
                    background-color: $light-green-2;
                }
                .all-products {
                    background-color: $light-green-2;
                }
            }
        }
    }
    .dd-ul {    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .menu-title {
            margin-bottom:0px;
            padding: 0 15px;
            p {
                font-size: 1.8rem;
                font-weight: 500;
                color: $dark-green-1;
            }
        }
        li {
            padding: 12px 15px!important;
            width: 100%;
            transition: 0.2s;
            cursor: pointer;
            a {
                display: flex;
                align-items: center;
                .icon {
                    margin-right:15px;
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                    font-weight: 400;
                    white-space: nowrap; 
                    color: $dark-grey;
                }
            }
            .all-products {
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-thickness: 2px;
                margin-left: 65px;
            }
        }
        .menu-title:hover {
            background: none;
        }
        li:hover {
            background-color: $light-green-2;
            a {
                color: $dark-green-1!important;
            }
        }
        .no-icon {
            padding: 5px 15px!important;
        }
          
    }
}

.dd-menu.about-dd {
    opacity: 1;
    right: 0px;
    .header-arrow {
        left: 26%;
    }
}
.dd-menu.chairs-dd {
    opacity: 1;
    right: 0px;
    .header-arrow {
        left: 43%;
    }
}
.dd-menu.beds-dd {
    opacity: 1;
    right: 0px;
    .header-arrow {
        left: 59%;
    }
}
.dd-menu.bath-lifts-dd {
    opacity: 1;
    right: 0px;
    .header-arrow {
        left: 69%;
    }
}

.breadcrumb-navigation {
        max-width: 1300px;
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
        .crumb {
                 margin: 10px 0;
                    font-size:14px;
                    font-weight:400;
                    color: $grey;
                    text-decoration: none;
                    text-transform: capitalize;
             
                    // &:after {
                    //     content: ">";
                    //     margin-left:  8px; 
                    //     font-size: 10px;
                    //     line-height: 1;
                    //     color: $grey;
                    //     pointer-events: none;
                    //     text-decoration: none!important;
                    // }
            }
            a:hover {
                text-decoration: underline;
            }
            p.crumb {
                color: $black;
                &:after {
                    content: "" !important;
                    margin-left:  8px; 
                    margin-right: 10px;
                    font-size: 10px;
                    line-height: 1;
                    color: $grey;
                    pointer-events: none;
                }
            }
            .arrow {
                margin: auto 10px;

                font-size: 12px;
                line-height: 1;
                color: $grey;
                pointer-events: none;
            }
        }
        