body.mobile-navbar {
    max-height: 100vh;
    overflow: hidden;
    .mobile-navigation {
        left: 0;
    }
}
.mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    max-width: 100%;
    left: -100%;
    z-index: 999;
    height: 100vh;
    overflow: scroll;
    transition: 0.2s;   
    // @media (min-width: 800px) {
    //     width: calc(100% - 100px);
    //     height: calc(100% - 100px);
    //     margin: 50px;
    //     margin-top: 25px;
    //     top:0;
    //     border-radius: 12px;
    //     box-shadow: 0 0 23px rgba(23, 73, 77, 0.23);
    //     padding: 25px 50px;
    // }
    .top-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
        border-bottom: 1px $lighter-grey solid;
        .logo-wrapper {
            width: 60%;
            @media(min-width: 500px){ 
                width: 280px;
            }
        }
        .mobile-menu-btn {
           
            margin-left: auto;
        }
    }
    .main-nav {
        button,a {
            padding: 15px 25px;
            font-size: 1.8rem;
            font-weight: 400; 
            color: $black;
            display: block;
            width: 100%;
            border-radius: 0;
            text-align: left;
            border-bottom: 1px $lighter-grey solid;
            color: $dark-green-1;
            font-weight: 500;
            @media(min-width: 500px){ 
             font-size: 2rem;
             padding: 20px 25px;
            }
        }
        button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .arrow {
                transition: 0.2s;
            }
        }
        .subNav {
            height: 100%;
            max-height: 0;
            overflow: hidden;
            li {
                a {
                    padding: 0;
                    color: $black;
                    font-weight: 400;
                }
            }
        }
        .open-submenu {
            button {
                border: none;
                .arrow {
                    transform: rotate(180deg);
                }
            }
            .subNav {
                max-height: 100%;
                li {
                    a {
                        padding: 15px 25px;
                        border: none;
                    }
                }
            }
        }
    }
    .button-wrapper {
        padding: 25px;
        .phone-number {
            margin-bottom: 15px;
            p {
                font-size: 1.8rem;
                margin-bottom: 3px;
            }
            .number {
                font-size: 2.8rem;
                font-weight: 600;
            }
        }
        button {
            width: 100%;
        }
    }
}
.hide-mobile-navigation {
    left: -100%;
}

.breadcrumb-navigation {
    .breadcrumb {
        display: flex;
        // justify-content: center;
        // margin-right: auto;
        margin: 10px 0;
        li {
            list-style: none;
            margin: 0 10px;
            a {
                font-size:14px;
                font-weight: 500;
                color: black;
                text-decoration: none;
                text-transform: capitalize;
    
                &:after {
                    content: ">" !important;
                    margin-left:  8px; 
                    font-size: 10px;
                    line-height: 1;
                    color: black;
                    pointer-events: none;
                  }
            }
            a:hover {
                color: pink;
            }
            p {
                font-size:14px;
                font-weight: 500;
                color: black;
                text-decoration: none;
                text-transform: capitalize;
                margin: 0;
                opacity: 0.5;
            }
      
        }
    }
}

.header-arrow {
    position: absolute;
    top: 2px;
    left: 50%;
    // margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;

    // width: 40px;
    // height: 50px;;
transform: translateY(12px) translateX(-8.4375px) translateX(50%) rotate(45deg);;
    border-radius: 3px 0 0 0;
    background-color: $white;
    // box-shadow: -3px -3px 5px rgb(82 95 127 / 4%);
    // transition-property: transform;
    // // transition-duration: var(--siteMenuTransition);
    z-index: 2;
}
.dd-menu-wrapper {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    padding-top:20px;
    z-index: 1000;
}
.dd-menu {
    background-color: $white;
    padding: 25px 30px;
    border-radius: 9px;
    min-width: 300px;
    box-shadow: 0 2px 21px rgba(37,72,76,0.29);
    transition: 0.2s;
    position: relative;
    opacity: 0;
    .dd-ul {    
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .menu-title {
            margin-bottom:10px;
            p {
                font-size: 2.1rem;
                font-weight: 500;
                color: $dark-green-1;
            }
        }
        li {
            padding: 10px 0!important;
            a {
                display: flex;
                align-items: center;
                .icon {
                    margin-right:15px;
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                    font-weight: 400;
                    white-space: nowrap; 
                    color: $dark-grey;
                }
            }
            .all-products {
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-thickness: 2px;
                margin-left: 65px;
            }
        }
        .no-icon {
            padding: 5px 0!important;;
        }
            a:hover {
                text-decoration: underline;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
                color: $dark-grey!important;
        }
    }
}

.dd-menu.about-dd {
    // transform: translateX(-50%) translateX(-153px);
    opacity: 1;
}
.dd-menu.chairs-dd {
    // transform: translateX(-50%) translateX(-80px);
    opacity: 1;
}
.dd-menu.beds-dd {
    // transform: translateX(-50%) translateX(0);
    opacity: 1;
}
.dd-menu.bath-lifts-dd {
    // transform: translateX(-50%) translateX(95px);
    opacity: 1;
}