* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    font-family: $fontText;
    font-weight: 700;
    color: $black;
    display: flex;
    flex-direction: column;
} 

.hide {
    display: none!important;
}

h1{
    font-size: 3rem;
}
h2 {
    font-size: 3rem;
}

// Container Presets
.con-reg {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

// Flex Containers
.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-col-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-fs {
   width: 100%;
    .hero-image {
        width: 100%;
        height: 300px;
        background-color: $lightest-grey;
    }
    .hero-content {
        padding: 0 15px;
        padding-top: 25px;
        padding-bottom: 30px;
        h1 {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom:10px;
            line-height: 1.3;
        }
        h2, a {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
        }
        .main-cta {
            margin-top: 40px;
           p {
               font-size: 1.2rem;
           }
        }
    }
}

// Images
.image-wrapper{
    position: relative;
    width: 100%;
}

.sec-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 25px auto;
}

.center {
    text-align: center;
}

.dark-green-1 {
    color: $dark-green-1!important;
}
.bg-dark-green-1 {
    background-color: $dark-green-1!important;
}

.bhf-red {
    color:$bhf-red!important;
}
.bg-bhf-red {
    background-color: $bhf-red!important;
    color: $white!important;
}