* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    font-family: $fontText;
    font-weight: 700;
    color: $black;
    display: flex;
    flex-direction: column;
} 
.main {
    padding-top: 78px;
    @media(max-width: 800px) {
        padding-top: 70px;
    }
}

.hide {
    display: none!important;
}

// Container presets
.container-wide {
    width: 100%;
}

.container-regular {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    // padding: 0 25px;
    position: relative;
}
.container-p {
    width: 100%;
    padding: 0 25px;
}

// Colour Container 
.lighter-grey-banner {
    background-color: $lighter-grey;
}
.dark-grey-banner {
    background-color: $dark-grey;
}
.darker-grey-banner {
    background-color: $darker-grey;
}

// Flex Containers
.flex-row {
    display: flex;
    // justify-content: center;
    padding: 15px;
}

// Text
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: $fontHeadings;
    letter-spacing: 1.5px;
    color: $dark-green-1;
    text-align: center;
    @media(max-width: 500px) {
        font-size: 2.2rem;
    }
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
    font-weight: 300;
    font-family: $fontText;
    color: $grey;
    letter-spacing: 0.5px;
    // margin: 15px 0;
    line-height: 1.6;
}

// Templates
.container-template {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.placeholder-links {
    display: flex;
    margin-top: 30px;
    li {
        margin: 0 15px; 
        list-style-type: none;
        a {
            color: $black;
            text-decoration: none;
        }
        a:hover {
            color: pink;
        }
    }
}

.page-title {
    font-family: 'Copyright Klim Type Foundry', sans-serif;
    font-size: 38px;
    font-weight: 800;
}
// Text Colours
.white {
    color: $white;
}
.green-1 {
    color: $dark-green-1;
}
.green-2 {
    color: $dark-green-2;
}
.green-3 {
    color: $dark-green-3;
}
.green-4 {
    color: $dark-green-4;
}
.green-5 {
    color: $dark-green-5;
}
.red-1 {
    color: $accent-red-1;
}
.red-2 {
    color: $accent-red-2;
}
.red-3 {
    color: $accent-red-3;
}
.red-4 {
    color: $accent-red-4;
}
.red-5 {
    color: $accent-red-5;
}
.pink-1 {
    color: $accent-pink-1;
}
.pink-2 {
    color: $accent-pink-2;
}
.pink-3 {
    color: $accent-pink-3;
}
.pink-4 {
    color: $accent-pink-4;
}
.pink-5 {
    color: $accent-pink-5;
}
// Background Colours
.bg-green-1 {
    background-color: $dark-green-1;
}
.bg-green-2 {
    background-color: $dark-green-2;
}
.bg-green-3 {
    background-color: $dark-green-3;
}
.bg-green-4 {
    background-color: $dark-green-4;
}
.bg-green-5 {
    background-color: $dark-green-5;
}
.bg-pink-1 {
    background-color: $accent-pink-1;
}
.bg-pink-2 {
    background-color: $accent-pink-2;
}
.bg-pink-3 {
    background-color: $accent-pink-3;
}
.bg-pink-4 {
    background-color: $accent-pink-4;
}
.bg-pink-5 {
    background-color: $accent-pink-5;
}
.bg-red-1 {
    background-color: $accent-red-1;
}
.bg-red-2 {
    background-color: $accent-red-2;
}
.bg-red-3 {
    background-color: $accent-red-3;
}
.bg-red-4 {
    background-color: $accent-red-4;
}
.bg-red-5 {
    background-color: $accent-red-5;
}

h1 {
    font-family: 'Copyright Klim Type Foundry', sans-serif;
    font-size: 38px;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: $dark-green-1;
}

button {
    padding: 15px 25px;
    text-transform: uppercase;
    background-color: $dark-green-3;
    font-family: $fontText;
    color: $white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.18);
    span {
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $fontText;
    }
}

.title-wrapper {
    padding: 0 15px;
    p {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        // color: $dark-green-1;
        margin: 0;
        text-align: center;
        margin-bottom: 15px;
        @media(max-width: 500px) {
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
    h1, h2, h3 {
        font-size: 2.5rem;
        font-weight: 800;
        font-family: $fontHeadings;
        letter-spacing: 1.5px;
        color: $dark-green-1;
        text-align: center;
        @media(max-width: 500px) {
            font-size: 2.2rem;
        }
    }
    h1 {
        font-size: 3rem;
    }
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: $fontHeadings;
    letter-spacing: 1.5px;
    text-align: center;
    @media(max-width: 500px) {
        font-size: 2.2rem;
    }
}

.subheading {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
    color: $dark-green-2;
    @media(max-width: 500px) {
        font-size: 1rem;
        margin-bottom: 5px;
    }
}

.para-text {
    font-size: 1.3rem;
    font-weight: 400;
    color: $grey;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.5px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;
    @media(max-width: 500px) {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 25px;
    }
}

.hero {
    width: 100%;
    height: 100%;
    height: 550px;
    padding: 15px;
    padding-top: 0;
    position: relative;
    // margin-bottom: 35px;
    @media(max-width: 500px) {
        padding:10px;
    }
    .hero-image {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        border-radius: 2px;
        overflow: hidden;
    }
}
.testimonial-item {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    padding: 15px;
    @media(max-width: 900px) {
        &:last-of-type {
            display: none;
        }
    }
    @media(max-width: 500px) {
        display: none;
        height: 250px;
        border-radius: 4px;
        &:first-of-type {
            display: flex;
        }
    }
    .image-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
    }
    .item-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    .button-wrapper {
        width: 60px;
        height:  60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .testimonial-info {
        margin-top: auto;
        position: relative;
        z-index: 1;
        p {
            margin: 0;
        }
        .name {
            font-size: 1.4rem;
            font-weight: 600;
            color: $white;
            line-height: 1.2;
        }
        .place {
            font-size: 1.2rem;
            font-weight: 400;
            color: $white;
        }
        .date {
            font-size: 1rem;
            font-weight: 400;
            color: $white;
            border-top: 2px $white solid;
            padding-top: 5px;
            @media(max-width: 500px) {
                display: none;
            }
        }
    }
}