li {
    list-style-type: none;
    font-size: 1.6rem;
}
a{ 
    text-decoration: none;  
    font-size:  inherit;
    font-weight: 400;
    color: $grey;
    position: relative;
    
    cursor: pointer;
  }
  p {
      font-size: 1.6rem;
      font-weight: 400;
      color: $black;
  }
  span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;   
  }

  em, b {
    font-size: inherit;
  }
h1, h2,h3,h4,h5,h6 {
  font-size: 3rem;
  font-family: $fontHeadings;
}

input {
  font-family: $fontText;
}
input[type=submit], button, a {
  cursor: pointer;
}