@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Book';
    src: url('../public/fonts/mallory/Mallory-Book.eot');
    src: url('../public/fonts/mallory/Mallory-Book.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-Book.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-Book.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('../public/fonts/mallory/Mallory-Black.eot');
    src: url('../public/fonts/mallory/Mallory-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-Black.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-Black.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Book';
    src: url('../public/fonts/mallory/Mallory-BookItalic.eot');
    src: url('../public/fonts/mallory/Mallory-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-BookItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-BookItalic.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('../public/fonts/mallory/Mallory-Bold.eot');
    src: url('../public/fonts/mallory/Mallory-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-Bold.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-Bold.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('../public/fonts/mallory/Mallory-BlackItalic.eot');
    src: url('../public/fonts/mallory/Mallory-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-BlackItalic.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('../public/fonts/mallory/Mallory-BoldItalic.eot');
    src: url('../public/fonts/mallory/Mallory-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/Mallory-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/Mallory-BoldItalic.woff') format('woff'),
        url('../public/fonts/mallory/Mallory-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct XLight';
    src: url('../public/fonts/mallory/MalloryCompact-XLight.eot');
    src: url('../public/fonts/mallory/MalloryCompact-XLight.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-XLight.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-XLight.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct Book';
    src: url('../public/fonts/mallory/MalloryCompact-Book.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Book.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Book.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Book.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-Black.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Black.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Black.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-ThinItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-ThinItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-ThinItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-MediumItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-MediumItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-MediumItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-Bold.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Bold.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Bold.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-Light.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Light.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Light.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-Thin.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Thin.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Thin.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Thin.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-Medium.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Medium.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Medium.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct XLight';
    src: url('../public/fonts/mallory/MalloryCompact-XLightItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-XLightItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-XLightItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-LightItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-LightItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-LightItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct Book';
    src: url('../public/fonts/mallory/MalloryCompact-BookItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-BookItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-BookItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-BlackItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-BlackItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct';
    src: url('../public/fonts/mallory/MalloryCompact-BoldItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-BoldItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct Ultra';
    src: url('../public/fonts/mallory/MalloryCompact-UltraItalic.eot');
    src: url('../public/fonts/mallory/MalloryCompact-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-UltraItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-UltraItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-UltraItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond';
    src: url('../public/fonts/mallory/MalloryCondensed-BoldItalic.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-BoldItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond XLight';
    src: url('../public/fonts/mallory/MalloryCondensed-XLight.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-XLight.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-XLight.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-XLight.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond';
    src: url('../public/fonts/mallory/MalloryCondensed-Black.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-Black.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-Black.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond';
    src: url('../public/fonts/mallory/MalloryCondensed-BlackItalic.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-BlackItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond Book';
    src: url('../public/fonts/mallory/MalloryCondensed-Book.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-Book.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-Book.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-Book.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond';
    src: url('../public/fonts/mallory/MalloryCondensed-Bold.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-Bold.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-Bold.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cmpct Ultra';
    src: url('../public/fonts/mallory/MalloryCompact-Ultra.eot');
    src: url('../public/fonts/mallory/MalloryCompact-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCompact-Ultra.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCompact-Ultra.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCompact-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond XLight';
    src: url('../public/fonts/mallory/MalloryCondensed-XLightItalic.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-XLightItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-XLightItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory Cond Book';
    src: url('../public/fonts/mallory/MalloryCondensed-BookItalic.eot');
    src: url('../public/fonts/mallory/MalloryCondensed-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/mallory/MalloryCondensed-BookItalic.woff2') format('woff2'),
        url('../public/fonts/mallory/MalloryCondensed-BookItalic.woff') format('woff'),
        url('../public/fonts/mallory/MalloryCondensed-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

