@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

// @font-face { 
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff');
//     font-weight: 900;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff');;
//     font-weight: bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff');;
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff');;
//     font-weight: bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff');;
//     font-weight: 100;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff2') format('woff2'),
//         url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff');;
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'FONTSPRING DEMO - Averta';
//     src: url('FONTSPRINGDEMO-AvertaLightItalic.eot');
//     src: url('FONTSPRINGDEMO-AvertaLightItalic.eot?#iefix') format('embedded-opentype'),
//         url('FONTSPRINGDEMO-AvertaLightItalic.woff2') format('woff2'),
//         url('FONTSPRINGDEMO-AvertaLightItalic.woff') format('woff'),
//         url('FONTSPRINGDEMO-AvertaLightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinItalic.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinItalic.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinItalic.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaThinRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.eot');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff2') format('woff2'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff') format('woff'),
        url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

