@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot');
    src: url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff2') format('woff2'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.woff') format('woff'),
        url('../public/fonts/TiemposHeadline/TestTiemposHeadline-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBlackRegular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaBoldRegular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtraboldRegular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaLightRegular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaExtrathinRegular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'FONTSPRING DEMO - Averta';
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff');
    src: url('../public/fonts/Averta/FONTSPRINGDEMO-AvertaSemiboldRegular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}