@font-face {
    font-family: 'Tiempos Headline';
    src: url('tiempos-headline-black.woff2') format('woff2'),;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline';
    src: url('tiempos-headline-bold.woff2') format('woff2'),;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline';
    src: url('tiempos-headline-semibold.woff2') format('woff2'),;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline';
    src: url('tiempos-headline-medium.woff2') format('woff2'),;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Tiempos Headline';
    src: url('tiempos-headline-regular.woff2') format('woff2'),;
    font-weight: 400;
    font-style: normal;
}