.LandbotLivechat, .kAfRMA, .jLUvWe {
        bottom:115px!important;
        right: unset!important;
        left:0px!important;
        box-shadow: none; 
        z-index: 101;
        display: none;
        @media(min-width: 610px) {
                bottom:29px!important;
                right: unset!important;
                left:26px!important;
                display: initial;
        }
}
.kKkmhx {
        height: 100%!important;
}
.is-launcher__avatar{
        width: 100% !important;
        height: 100% !important;
        }
        .launcher__bubble{
        width: 85px;
        height: 85px;
        }
.chatbot {
        @media(min-width: 800px) {
                width: 50px;
                height: 50px;
            }
}