.LandbotLivechat, .kAfRMA, .jLUvWe {
        bottom:125px!important;
        left: 0px!important;
        // right: unset!important;
        // left: 0;
        // left:0px!important;
        box-shadow: none; 
        z-index: 101;
        // display: none;
        max-width: 1250px;
        width: 100vw!important;
        height: 120px!important;
        margin: 0 auto;
        padding-right:30px;
        height: 100%;
        // @media(min-width: 610px) {
        //         right: unset!important;
        //         left:0px!important;
        //         display: initial;
        // }
        // @media(min-width: 800px) and (max-width: 1090px) {
        //         bottom:0px!important;
        //     }
        // @media(min-width: 1100px) {
        //         bottom: 5px!important;
        //     }
}
.kKkmhx {
        height: 100%!important;
}
.is-launcher__avatar{
        width: 100% !important;
        height: 100% !important;
        }
        .launcher__bubble{
        width: 85px;
        height: 85px;
        }
.chatbot {
        @media(min-width: 800px) {
                width: 50px;
                height: 50px;
            }
}