.LandbotLivechat, .kAfRMA, .jLUvWe {
        bottom:115px!important;
        right: unset!important;
        left:0px!important;
        // position: relative!important;
        // width:100px!important;
        // height: 100px!important;
        box-shadow: none; 
        z-index: 101;
        display: none;
        @media(min-width: 610px) {
                bottom:36px!important;
                right: unset!important;
                left:26px!important;
                display: initial;
        }
}
.kKkmhx {
        height: 100%!important;
}
.is-launcher__avatar{
        width: 100% !important;
        height: 100% !important;
        }
        .launcher__bubble{
        width: 85px;
        height: 85px;
        }

// .jLUvWe {
//         background-color: $dark-green-1;
//         border-radius: 50%;
// }
// .jLUvWe.is-open {
//         background: none;
//         border-radius: 50%;
// }
.chatbot {
        @media(min-width: 800px) {
                width: 50px;
                height: 50px;
            }
}