
body.freeze {
    overflow: hidden;
}
.exit-modal {
    position: absolute;
    top:-50px;
    right: 0;
    button {
        background-color: $white;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 25px;
    }
}
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(23,73,77,0.7);
    background-color: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    .modal-inner {
        background-color: $white;
        border-radius: 6px;
        width: 90%;
        max-width: 900px;
        // width:90%;
        // height:50%;
        // position: relative;
        // @media(min-width:600px) {
        //     width:80%;
        //     height: 500px;
        // }
    }
    .form-modal {  
        border-radius: 6px;
        width: 90%;
        height: 90vh; 
        @media(min-width: 800px) {
            width: 500px;
            height: 650px;
        }
        .pop-up-form-wrapper {
            @media(max-width: 800px) {
                overflow: auto;
            }
            form {
                @media(max-width: 800px) {
                    overflow: unset;
                }
            }
        }
    }
}
.modal.show-modal {
    overflow: hidden;
    display: flex;
}