
body.freeze {
    overflow: hidden;
}
.exit-modal {
    position: absolute;
    top:-50px;
    right: 0;
    button {
        background-color: $white;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 25px;
    }
}
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(23,73,77,0.7);
    background-color: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99998;
    .modal-bg-btn {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .modal-inner {
        // background-color: $white;
        border-radius: 6px;
        width: 90%;
        max-width: 900px;
        position: relative;
        z-index: 99999;
        // width:90%;
        // height:50%;
        // position: relative;
        // @media(min-width:600px) {
        //     width:80%;
        //     height: 500px;
        // }
    }
    .form-modal {  
        border-radius: 6px;
        width: 90%;
        height: 90vh; 
        @media(min-width: 800px) {
            width: 500px;
            height: 650px;
        }
        .pop-up-form-wrapper {
            @media(max-width: 800px) {
                overflow: auto;
            }
            form {
                @media(max-width: 800px) {
                    overflow: unset;
                }
            }
        }
    }
}
.modal.show-modal {
    overflow: hidden;
    display: flex;
}

.video-carousel:hover {
    .close-modal {
        opacity: 1;
    }
}
.background-close {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    cursor: pointer;
}
.video-carousel {

    position: relative;
    .close-modal { 
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        width: 45px;
        height: 45px;
        padding: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-wrapper {
            width:40%;
        }
    //     position: absolute;
    //     top: -60px;
    //     right: 0;
    //     background-color: $white;
    //     font-size: 1.6rem;
    //     font-weight: 600;
    //     padding: 5px 20px;
    //    z-index:99;
    //     transition: 0.2s;
    //     line-height: 1;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 40px;
    //     width: 80px;
    //     padding:0;
        // @media(min-width: 650px) {
        //     // padding: 10px 20px;
        // }
        // // @media(min-width:850px) and (max-width:1099px) {
        // //     top: 0;
        // //     right: 0;
        // // }
        // @media(min-width: 1100px) {
        //     right: -100px;
        //     top:0;
        //     opacity: 0;
        // }
    }
    .carousel-navigation {
        position: absolute;
        height: 100%;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:15px;
        button {
            width: 50px;
            height: 50px;
            background-color: $white;
            border-radius: 50%;
        }
    }
    .carousel-navigation.nav-prev {
        left: -80px;
    }
    .carousel-navigation.nav-next {
        right: -80px;
    }
    .video-container {
        position: relative; 
        padding-bottom: 56.25%; 
    
        height: 0; 
        // overflow: hidden;
        iframe {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%; 
        }
    }
}

.fabric-selection-modal {
    width: 100%;
    max-width:600px;
    background-color: $white;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    .close-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        right: -60px;
        top: 0;
        background-color: $white;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .cross-icon {
            width: 40%;
        }
    }
    .inner-border {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border:3px $dark-green-1 solid;
        border-radius: 8px;
    }
    .modal-heading {
        font-size: 2.6rem;
        font-weight: 600;
        color: $dark-green-1;
        text-align: center;
        margin-bottom:5px;
    }
    p {
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        padding: 0 25px;
        color: $grey;
    }
    .fabric-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        width:80%;
        margin: 0 auto;
        margin-top: 20px;
        .fabric {
            width: 100%;
            .image-wrapper {
                width: 100%;
            }
            .fabric-name {
                font-size: 1.4rem;
                font-weight: 400;
                color: $grey;
                margin-top: 10px;;
                padding: 0;
            }
        }
    }
}