.british-made-overlay {
    position: fixed;
    bottom:25px;
    right: 25px;
    // width: 240px;
    // height: 190px;
    padding: 15px 40px;
    padding-bottom: 17px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 20px rgba(0,0,0,0.18);
    border-radius: 2px;
    z-index: 999;
    transition: 0.2s;
    display: none;
    @media(min-width: 850px) {
        display: flex;
    }
    .icon-wrapper {
        width: 120px;
    }
    p {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1.4;
        margin-top: 5px;
        text-align: center;
    }
    .close-button {
        position: absolute;
        top: -50px;
        right: 0;
        background-color: $white;
        box-shadow: 0 2px 17px rgba(0,0,0,0.11);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.2s;
        cursor: pointer;
        .cross {
            width: 50%;
        }
    }
}

.british-made-overlay:hover {
    .close-button {
    opacity: 1;
    }
}

.british-made-overlay.increased-bottom-margin {
    bottom:150px;
}