.about-hero {
    padding: 0;
    position: relative;
    overflow: hidden;
    @media(min-width: 900px) {
        padding: 25px 30px;
        padding-bottom:0;
    }
    .image-wrapper {
        width: 160%;
        transform: translateX(-5px);
        overflow: hidden;
        @media(min-width: 900px) {
            max-height: 500px;
            width: 100%;
            transform: none;
        }
    }
    .desktop-image {
        display: none;
        @media(min-width: 650px) {
            display: initial;
        }
    }
    .mobile-image-wrapper {
        width: 100%;
        height: 80vh;
        @media(min-width: 650px) {
            display: none;
        }
    }

}
.about-sections {
    margin-top: 30px;
    @media(min-width: 900px) {
        margin-top: 80px;
    }
    .section {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        @media (min-width: 900px) {
            flex-direction: row;
            margin-bottom: 50px;
        }
        .image-wrapper {
            width: 100%;

            @media(min-width: 650px ) and (max-width: 899px) {
                width: 60%;
            }
            @media (min-width: 900px) {
                width: 50%;
            }
        }
        .section-content {
            display: flex;
            flex-direction: column;
           justify-content: center;
           padding: 25px 0px;
           width: 100%;
           @media(min-width: 650px ) and (max-width: 899px) {
            width: 70%;
            }
           @media (min-width: 900px) {
               width: 50%;
               padding: 0 50px;
           }
           
            .subheading {
                font-size: 1.8rem;
                font-weight: 500;
                color: $oaktree-green;
                margin-bottom: 3px;
            } 
            .heading {
                font-size: 2.8rem;
                font-weight: 600;
                font-family: $fontText;
                color: $dark-green-1;
                margin-bottom: 15px;
            }
            .content-p {
                font-size: 1.8rem;
                line-height: 1.6;
            }
            a {
                font-size: 1.8rem;
                font-weight: 400;
                color: $oaktree-green;
                text-decoration: underline;
                text-underline-offset: 5px;
                text-decoration-thickness: 2px;
                margin-top: 20px;
            }
        }
    }    
}

.tagline-banner {
    background-color: $dark-green-1;
    background-image: url(/vectors/wave-bg-horizontal.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
    .inner-wrapper {
        padding: 50px 15px;
        text-align: center;
        .subheading {
            font-size: 2.4rem;
            font-weight: 500;
            font-family: $fontHeadings;
            color: $white;
            margin-bottom: 0px;
            @media(min-width: 520px) {
                font-size: 2.6rem;
            }
        }
        .heading {
            font-size: 3.8rem;
            color: $white;
            @media(min-width: 520px) {
                font-size: 4.5rem;
            }
        }
    }
}