.about-hero {
    overflow: unset;
    .british-made-badge {
        position: absolute;
        bottom: -90px;
        left:50%;
        transform: translateX(-50%);
        width: 180px;
    }
}

.british-made-intro  {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 80px;
    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        font-family: $fontText;
        color: $dark-green-1;
     
        @media(min-width: 650px) {
            font-size: 3.2rem; 
            text-align: center;
        }
    }
    p {
        font-size: 1.8rem;
        font-weight: 300;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 1.6;
        @media(min-width: 650px) {
            font-size: 2rem;
            text-align: center;
        }
    }
}

.british-made-sections {
    .section {
        display: flex;
        flex-direction: column;
        @media(min-width: 950px) {
            flex-direction: row;
        }
        .image-wrapper {
            width: 100%;
            max-width: 550px;
            @media(min-width: 950px) {
                width: 50%;
                max-width: 100%;
            }
        }
        .section-content {
            width: 100%;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;            
            padding-top: 30px;
            @media(min-width: 950px) {
                padding: 0 50px;
                width: 50%;
                max-width: 100%;
            }
            h3 {
                font-size: 2.8rem;
                font-weight: 600;
                font-family: $fontText;
                color: $dark-green-1;
                @media(min-width: 650px) {
                    font-size: 3rem; 
                }
            }
            p {
                font-size:1.8rem;
                font-weight: 400;
                line-height: 1.6;
                margin-top: 10px;
                @media(min-width: 650px) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.british-made-question-banner {
    margin: 50px auto;
    margin-bottom:30px;
    padding: 50px 0px;
    @media(min-width: 650px) {
        padding: 50px 15px;
        margin: 50px auto;
    }
    h4 {
        font-size: 2.8rem;
        font-weight: 600;
        font-family: $fontText;
        color: $dark-green-1;
        @media(min-width: 650px) {
            font-size: 3rem;
            text-align: center;
        }
    }
    p {
        font-size:1.8rem;
                font-weight: 400;
                line-height: 1.6;
                max-width: 700px;
                margin: 0 auto;
                margin-top: 10px;;
                @media(min-width: 650px) {
                    text-align: center;
                    font-size: 2rem;
                }
    }
    a {
        font-size: 1.8rem;
        font-weight: 500;
        color: $oaktree-green;
        border: 2px $oaktree-green solid;
        padding: 15px 30px;
        margin-right: auto;
        margin-top: 20px;
        display: block;
        width: fit-content;
        cursor: pointer;
        
        @media(min-width: 650px) {
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
            font-size: 2rem;
        }
    }
}