.col-hero {
    width: 100%;
    
    height: calc(100vh - 238.5px);
    position: relative;
    margin-bottom: 40px;
    @media(min-width:900px) {
        height: 700px;
    }
    .hero-inner {
        position: relative;
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        display: flex;
        .mobile-cta {
            display: initial;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 4px;
            box-shadow: 0 3px 19px rgba(0,0,0,0.18);
            height: fit-content;
            @media(min-width: 900px ) {
                display: none;
            }
            p {
                font-size: 1.9rem;
                font-weight: 500;
                letter-spacing: 0;
            }
        }
    }
  
}
.product-collections {
    .col-hero {
        .hero-image {
            position: relative;
            height: 100%;
        }
    }
    .heading {
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 5px; 
        color: $dark-green-1;
        padding: 0 15px;
        @media(min-width: 1000px) {
            font-size: 4.6rem;
            margin-bottom: 0px;
        }
    }
    .sub-heading {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        color: $dark-green-2;  
        margin-bottom: 35px;
        max-width: 950px;
        padding: 0 15px;
        @media(min-width: 1000px) {
            font-size: 2.2rem;
        }
    }

    .intro {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;

        @media(min-width: 600px){
            margin-top: 70px;
        }
        .heading {
            text-align: left;
            margin : 15px;
            
            @media(min-width: 600px){
                text-align: center;
                font-size: 3.6rem;
                margin-bottom: 10px;
            }
        }
        .statement {
            padding: 0 15px;
            line-height: 1.6;
            @media(min-width: 600px){
                text-align: center;
                font-size: 1.8rem;
            }
        }
    }
    // .subheading {
    //     padding: 0 15px;
    // }
    // .hero-split {
    //     display: flex;
    //     flex-direction: row;
    //     margin-bottom:25px;
    //     padding: 0;
    //     @media(min-width: 900px) {
    //         margin-bottom:50px;
    //     }
    //     .hero-left {
    //         width: 100%;
    //         position: relative;
    //         @media(min-width: 900px) {
    //             width: 60%;
    //         }
    //         .hero-image {
    //             width: 100%;
    //             height: 300px;
    //             // height:400px;
    //             overflow: hidden;
    //             position: relative;
    //             @media(min-width: 425px) and (min-width: 799px){
    //                 margin: 0 15px;
    //                 width: calc(100% - 30px);
    //             }
    //             @media(min-width: 800px) {
    //                 width: 100%;
    //                 margin: 0;
    //             }
    //             @media(min-width: 900px) {
    //                 height: 100%;
    //             }
    //         }
    //         .hero-intro {
    //             padding: 40px 15px;
    //             background-color: $white;
    //             position: absolute;
    //             top: 50%;
    //             left: 50%;
    //             transform: translate(-50%, -50%);
    //             // left: 50%;
    //             // transform: translateX(-50%);
    //             // bottom: 25px;
    //             width: 90%;
    //             text-align: center;
    //             border-radius: 2px;
    //             display: none;
        


    //             @media(min-width: 900px) {
    //                 display: initial;
    //             }
    //             .intro-border{ 
    //                 position: absolute;
    //                 top: 8px;
    //                 left: 8px;
    //                 width: calc(100% - 16px);
    //                 height: calc(100% - 16px);
    //                 border: 3px $dark-green-1 solid;
    //                 border-radius: 2px;
    //             }
    //             .subheading {
    //                 font-size: 1.8rem;
    //                 font-weight: 500;
    //                 color: $oaktree-green;
    //                 @media(min-width: 900px) {
    //                     font-size:2rem;
                    
    //                 }
    //             }
    //             h1 {
    //                 font-size: 3.2rem;
    //                 color: $dark-green-1;
    //                 line-height: 1.3;
    //                 margin-top: 3px;
    //                 @media(min-width: 900px) {
    //                     font-size: 3.6rem;
    //                 }
    //             }
    //             .intro-statement {
    //                 font-size: 1.8rem;
    //                 font-weight: 500;
    //                 margin-top: 0px;
    //                 line-height: 1.5;
    //                 // max-width: 600px;
    //                 color: $dark-green-1;
    //                 @media(min-width: 900px) {
    //                     font-size:2rem;
    //                     line-height: 1.6;
    //                 }
    //             }
    //             .main-cta {
    //                 width:100%;
    //                 margin-top: 25px;
    //                 @media(min-width: 425px) {
    //                     max-width: 395px;
    //                 }
    //                 p {
    //                     font-size:1.6rem;
    //                     font-weight: 500;
    //                     text-transform: uppercase;
    //                 }
    //             }
    //             .brochure-request-btn {
    //                 @media(min-width: 900px) {  
    //                     display: none;
    //                 }
    //             }
    //             .cta-link {
    //                 display: none;
    //                 background:none;
    //                 border: none;
    //                 border-radius: 5px;
    //                 padding: 17px 50px;
    //                 font-size: 1.6rem;
    //                 font-weight: 500;
    //                 font-family: $fontText;
    //                 letter-spacing: 0.5px;
    //                 height:fit-content;
    //                 width: fit-content;
    //                 background-color: $oaktree-green;
    //                 @media(min-width: 900px) {  
    //                     display: flex;
    //                 }
    //                 p {
    //                     font-size: 1.8rem;
    //                 }
    //             }
    //         }
    //     }
    //     .hero-form {
    //         width: 40%;
    //         background-color: $white;
    //         box-shadow: 0px 3px 21px rgba(0,0,0,0.19);
    //         z-index: 0;
    //         overflow:hidden;
    //         display: none;
    //         @media(min-width: 900px) {
    //             width: 40%;
    //             display: flex;
    //             flex-direction: column;
    //         }
    //         .form-top {
    //             background-color: $dark-green-1;
    //             padding: 25px 20px;
    //             color: $white;
    //             p {
    //                 color: $white;
    //                 font-size: 2rem;
    //                 letter-spacing: 0.5px;
    //             }
    //         }
    //         .brochure-form-usps {
    //             ul {
    //                 li {
    //                     // &:nth-of-type(3),  &:nth-of-type(4) {
    //                     //     display: none;
    //                     //     @media(min-width: 950px) {
    //                     //         display: flex;
    //                     //     }
    //                     // }
    //                     p {
    //                         font-size: 1.6rem;
    //                         @media(min-width:1000px) {
    //                             font-size: 1.8rem;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    .hero-form {
        width: 40%;
        background-color: $white;
        z-index: 0;
        overflow:hidden;
        display: none;
        margin: auto 0;
        margin-left: auto;
        border-radius: 2px;
        box-shadow: 0px 3px 21px rgba(0,0,0,0.21);
        @media(min-width: 900px) {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        .form-top {
            background-color: $dark-green-1;
            padding: 15px 20px;
            color: $white;
            h2 {
                font-size: 2.6rem;
                font-weight: 500;
                text-align: center;
            }
            p {
                color: $white;
                font-size: 2rem;
                letter-spacing: 0.5px;
            }
        }
        .brochure-form-usps {
            ul {
                li {
                    display: flex;
                    align-items: center;  
                    padding: 0;              
                    .tick {
                        width: 18px;
                    }
                    p {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
// .collections-carousel {
//     width: 100%;
//     margin-top: 25px;
//     .swiper-slide {
//         max-width: 500px;
//     }
//     .collection-item {
//         width: 100%;
//         margin-bottom: 30px;
//         @media(min-width: 600px) {
//         margin-bottom: 0;
//         }
//         &:last-of-type {
//             margin-bottom: 0;;
//         }
//         a {
//             width: 100%;
//         }
//         .col-details {
//             padding: 20px;;
//             padding-top:10px;
//             border: 1px $lighter-grey solid;
//             transition: 0.2s;
//             border-top: none;
//         }
//         .image-wrapper {
//             width: 100%;

//             position: relative;
//             .leaf {
//                 background-color: $white;
//                 width: 50px;
//                 height: 50px;
//                 border-radius: 50%;
//                 box-shadow: 0 0 19px rgba(0,0,0,0.18);
//                 position: absolute;
//                 top: 15px;
//                 right: 15px;
//             }
//             .selected-swatch  {
//                 width: 60px;
//                 height: 60px;
//                 position: absolute;
//                 bottom: 15px;
//                 right: 15px;
//                 border: 2px $white solid;
//                 box-shadow: 0px 0px 16px rgba(0,0,0,0.18);
//                 .swatch {
//                     position: absolute;
//                     top:0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     z-index: 0;
//                 }
//                 .swatch-tooltip {
//                     position: absolute;
//                     top: -80px;
//                     right: 0;
//                     min-width: 250px;
//                     width: fit-content;
//                     background-color: $dark-green-1;
//                     padding: 15px;
//                     border-radius: 2px;
//                     box-shadow:0 2px 16px rgba(0,0,0,0.18);
//                     opacity: 0;
//                     transition: 0.2s;
//                     p {
//                         font-size: 16px;
//                         font-weight: 400;
//                         color: $white;
//                         .highlight {
//                             color: $yellow-3;
//                             font-weight: 400;
//                         }
//                     }
//                     .arrow {
//                         width: 0; 
//                         height: 0; 
//                         border-left: 5px solid transparent;
//                         border-right: 5px solid transparent;
                        
//                         border-top: 5px solid $dark-green-1;;
//                         position: absolute;
//                         bottom:-5px;
//                         right:25px;
//                       }
//                 }
//             }      
//             .selected-swatch:hover {
//                 .swatch-tooltip {
//                     opacity: 1;
//                 }
//             }    
//         }
//         .col-name-wrapper {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             margin-top: 15px;
//             .name-wrapper {
//                 display: flex;
//                 flex-direction: column;
//                 width: 100%;
//             }
//             .icon-wrapper {
//                 width: 50px;
//                 height: 50px;
//                 margin-left: auto;
//             }
//             .title-and-swatches{
//                 display: flex;
//                 // flex-direction: column-reverse;
//                 justify-content: center;
//                 align-items: center;
//                 width: 100%;
           
//                 .subheading {
//                     margin-right: auto;
//                 } 
//             }
//             .swatches {
//                 margin-left: auto;
//                 display: none;
//                 align-items: center;
//                 @media(min-width: 480px) and (max-width: 599px) {
//                     display: flex;
//                 }
//                 @media(min-width: 600px ) and (max-width: 899px){
//                     display: none;
//                 }
//                 @media(min-width: 900px) {
//                     display: flex;
//                 }
//                 button {
//                     padding: 0;
//                     margin: 0;
//                     font-size: 1.6rem;
//                     font-weight: 400;
//                     color: $grey;
//                     margin-left:10px;
//                     transition: 0.2s;
//                 }
//                 button:hover {
//                     text-decoration: underline;
//                     text-underline-offset: 2px;
//                 }
//                 .swatch{
//                     width: 30px;
//                     height: 30px;
//                     border-radius: 50%;
//                     box-shadow: 0 0 2px rgba(0,0,0,0.18);
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     margin: 0 5px;
//                     padding:0;
//                     .inner {
//                         width: 100%;
//                         height:100%;
//                         border: 1px $white solid;
//                         border-radius: 50%;
//                         margin:0;
//                         position: relative;
//                         overflow: hidden;
//                     }
//                 }
//                 .swatch.red {
//                     border: 1px #850C1E solid;
//                     background-color: $white;
//                 }
//                 .swatch.blue {
//                     border: 1px #37667A solid;
//                     background-color: $white;
//                 }
//                 .swatch.brown {
//                     border: 1px #5B3D3E solid;
//                     background-color: $white;
//                 }
//             }
//         }
//         .subheading {
//             font-size: 1.7rem;
//             font-weight: 500;
//             color: $oaktree-green;
//             margin-bottom: 5px;
//         }
//         h2 {
//             font-size: 2.6rem;
//             font-weight: 600;
//             font-family: $fontText;
//             color: $dark-green-1;
//             text-align: left;
//             width: 100%;;
//         }
//         .desc {
//             font-size: 1.8rem;
//             margin-top: 10px;
//             margin-bottom: 10px;
//             line-height: 1.6;
//             // max-width: 500px;
//             opacity: 0.8;
//         }
//         .desc-list {
//             margin-bottom: 20px;
//             li {
//                 display: flex;
//                 padding: 5px 0;
//                 .icon {
//                     width: 30px;
//                     height: 30px;
//                     margin-right: 10px;
//                 }
//                 p {
//                     font-size: 1.8rem;
//                     font-weight: 400;
//                     color: $grey;
//                 }
//             }
//         }
//         .main-cta {
//             padding: 10px 30px;
//             width: fit-content;
//             min-width: 0;
//             display: flex;
//             border-radius: 3px;
//             p {
//                 font-size: 1.8rem;
//             }
//         }
//         .btn-leaf-wrapper {
//             display: flex;
//             align-items: center;
//             .leaf {
//                 margin-left:auto;
//                 width: 60px;
//                 height: 60px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 border-radius: 50%;
//                 transition: 0.4s;
//                 .icon-wrapper {
//                     width: 90%;
//                 }
//             }
//         }
//     }
// }
    .collections-grid {
        display: flex;
        flex-direction: column;
        // padding: 0 15px;
        margin-bottom: 0px;
        margin-top: 25px;
        @media(min-width: 720px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // gap: 50px 25px;
            gap: 30px;
        }
        .collection-item {
            width: 100%;
            // padding-bottom: 45px;
            // background-color: $lighter-grey;
            // border: 1px $lighter-grey solid;
            border: 1px $lighter-grey solid;
            margin-bottom: 30px;
            transition: 0.2s;
            border-radius: 2px;
            overflow: hidden;
            @media(min-width: 720px) {
            margin-bottom: 0;
            }
            &:last-of-type {
                margin-bottom: 0;;
            }
            a {
                width: 100%;
            }
            .col-details {
                padding: 20px;;
                padding-top:0;
                transition: 0.2s;
                border-top: none;
            }
            .image-wrapper {
                width: 100%;
                position: relative;
                overflow: hidden;
                span {
                    transition: 0.2s;
                }
                .leaf {
                    background-color: $white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    box-shadow: 0 0 19px rgba(0,0,0,0.18);
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
                .selected-swatch  {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    border: 2px $white solid;
                    box-shadow: 0px 0px 16px rgba(0,0,0,0.18);
                    .image:hover + .swatch-tooltip {
                            opacity: 1;
                    }
                    .swatch {
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .swatch-tooltip {
                        position: absolute;
                        top: -80px;
                        right: 0;
                        min-width: 250px;
                        width: fit-content;
                        background-color: $dark-green-1;
                        padding: 15px;
                        border-radius: 2px;
                        box-shadow:0 2px 16px rgba(0,0,0,0.18);
                        opacity: 0;
                        transition: 0.2s;
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: $white;
                            .highlight {
                                color: $yellow-3;
                                font-weight: 400;
                            }
                        }
                        .arrow {
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            
                            border-top: 5px solid $dark-green-1;;
                            position: absolute;
                            bottom:-5px;
                            right:25px;
                          }
                    }
                }       
            }
            .col-name-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                // margin-top: 15px;
                
                .name-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                .icon-wrapper {
                    width: 50px;
                    height: 50px;
                    margin-left: auto;
                }
                .title-and-swatches{
                    display: flex;
                    // flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 15px 0;
                    border-bottom: 1px $lighter-grey solid;
                    margin-bottom: 10px;
                    .subheading {
                        margin-right: auto;
                    } 
                }
                .swatches {
                    // margin-left: auto;
                    margin-right: auto;
                    // display: none;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    display: flex;
                
                    // @media(min-width: 480px) and (max-width: 599px) {
                    //     display: flex;
                    // }
                    // @media(min-width: 600px ) and (max-width: 899px){
                    //     display: none;
                    // }
                    @media(min-width: 480px) {
                        justify-content: flex-end;
                    }
                    button {
                        padding: 0;
                        margin: 0;
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: $dark-grey;
                        margin-left:5px;
                        transition: 0.2s;
                        pointer-events: none;
                    }
                    // button:hover {
                    //     text-decoration: underline;
                    //     text-underline-offset: 2px;
                    // }
                    .swatch{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        // box-shadow: 0 0 2px rgba(0,0,0,0.18);
                        border: 1px $light-grey solid;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // margin: 0 5px;
                        margin-right: 8px;
                        padding:0;
                        @media(min-width: 480px) {
                            width: 35px;
                            height: 35px;
                        }
                        .inner {
                            width: 100%;
                            height:100%;
                            border: 2px $white solid;
                            border-radius: 50%;
                            margin:0;
                            position: relative;
                            overflow: hidden;
                        }
                    }
                    .swatch.red {
                        border: 1px #850C1E solid;
                        background-color: $white;
                    }
                    .swatch.blue {
                        border: 1px #37667A solid;
                        background-color: $white;
                    }
                    .swatch.brown {
                        border: 1px #5B3D3E solid;
                        background-color: $white;
                    }
                }
            }
            .subheading {
                font-size: 1.7rem;
                font-weight: 500;
                color: $oaktree-green;
                // margin-bottom: 5px;
                margin-top:5px;
            }
            h2 {
                font-size: 2.6rem;
                font-weight: 600;
                font-family: $fontText;
                color: $dark-green-1;
                text-align: left;
                width: 100%;;
            }
            .desc {
                font-size: 1.8rem;
                margin-top: 10px;
                margin-bottom: 10px;
                line-height: 1.6;
                // max-width: 500px;
                opacity: 0.8;
            }
            .desc-list {
                margin-bottom: 20px;
                li {
                    display: flex;
                    align-items: center;
                    padding: 2px 0;
                    // align-items: center;
                    position: relative;
                    .icon {
                        width: 40px;
                        margin-right: 10px;
                    }
                    .icon-colour {
                        position: absolute;
                        top: 8px;
                        left:0;
                        opacity: 0;
                        transition: 0.2s;
                    }
                    p {
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: $grey;
                        width: calc(100% - 50px);
                    }
                }
            }
            .main-cta {
                padding: 10px 30px;
                width: fit-content;
                min-width: 0;
                display: flex;
                border-radius: 3px;
                transition: 0.2s;
                cursor: pointer;
                p {
                    font-size: 1.8rem;
                }
            }
            .main-cta:hover {
                // box-shadow: 0 0 19px rgba(0,155,114,0.40);
                background-color:#09B47C;
                background-color:#10CC8F;
            }
            .btn-leaf-wrapper {
                display: flex;
                align-items: center;
                .leaf {
                    margin-left:auto;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: 0.4s;
                    .icon-wrapper {
                        width: 90%;
                    }
                }
            }
        }
        .collection-item:hover {
            box-shadow: 0 0 21px rgba(0,0,0,0.10);
            .desc-list{ 
                li {
                    .icon-colour { 
                        opacity: 1;
                    }
                }
            }
            .main-cta {
                background-color:#05AA74;
            }
            .main-cta:hover {
                background-color:#07C184;
            }
        }
        .collection-item.bath-lift-collection-item{ 
            border: none;
        }
        .collection-item.bath-lift-collection-item:hover {
            box-shadow: none;
        }
    }
    .single-grid {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        .collection-item {
            display: flex;
            flex-direction: column;
            @media(min-width: 850px) {
                flex-direction: row-reverse;
            }
            .image-wrapper {
                width: 100%;
                @media(min-width: 850px) {
                    width: 50%;
                }
            }
            .col-content-wrapper {
                padding-right: 50px;
                width: 100%;
                @media(min-width: 850px) {
                    width: 50%;
                }
                h2 {
                    font-size: 2.6rem;
                    @media(min-width: 850px) {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    .usps-wrapper {
        margin-top: 50px;
        .title {
            text-align: center;
            font-family: $fontText;
            font-size: 2.7rem;
            font-weight: 600;
            color: $dark-green-1;
            padding: 0 15px;
        }
    }
    .usp-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
        // margin-bottom: 50px;
        padding: 0;

        @media(min-width: 400px) {
            padding: 0 15px;
        }
        @media(min-width: 800px) {
            margin-top: 0;
        }
        // @media(min-width: 600px) and (max-width:799px) {
        //     display: grid;
        //     grid-template-columns: repeat(1, 1fr);
        //     margin-bottom: 50px;
        // }
        // @media(min-width: 800px) {
        //     // flex-direction: row;
        //     // align-items: flex-start;
        //     display: grid;
        //     grid-template-columns: repeat(3,1fr);
        //     margin-bottom: 50px;
        // }
        .usp-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            margin: 0 auto;
            text-align: center;
            padding: 30px 15px;
            max-width: 530px;
            border-radius: 6px;
            @media(min-width: 800px) {
                max-width: 380px;
                padding: 40px 15px;
            }

            .icon-wrapper{
                width: 60%;
                width: 90px;
     
                // @media(min-width: 800px) {
                //     width: 160px;
                //     margin-bottom: 15px;
                // }
                // @media(min-width: 1200px) {
                //     width: 200px;
                // }

            }
            .usp-title {
                font-size: 2.3rem;
                font-weight: 600;
                font-family: $fontText;
                color: $dark-green-1;
                margin-bottom: 10px;
                margin-top: 15px;
                line-height: 1.4;
                @media(min-width: 800px) {
                    font-size: 2.2rem;
                }
                @media(min-width:1050px) {
                    font-size: 2.5rem;
                }
            }
            .usp-desc {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.4;
                // height: 100%;
                // max-height: 0;
                overflow: hidden;
                transition: 0.2s max-height;
                opacity: 0.8;
                max-width: 600px;
                span {
                    font-weight: 500;
                }
                @media(min-width: 450px) and (max-width: 799px) {
                    font-size: 1.8rem;
                }
    
                // @media(min-width: 600px) and (max-width: 1150px) {
                //     font-size: 1.8rem;
                // }
                // @media(min-width:1150px) {
                //     font-size: 1.8rem;
              
                //     line-height: 1.5;
                // }
            }
            .learn-more {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 0;
                padding: 2px 5px;
                margin-top: 10px;
            
                padding:10px 20px; 
                border-radius: 4px;
                margin-top: 15px;
                display: none;
                .arrow {
                    width: 15px;
                    margin-top: 2px;
                }
                p {
                    font-size: 1.8rem;
                    font-weight: 500;
                    letter-spacing: 0;
                    color: $blue-3;
                    text-align: center;
                    text-decoration: underline;
                    text-underline-offset: 3px;
                    text-decoration-thickness: 2px;
                    // margin-right: 8px;
                }
            }
        }
        .usp-item.show-desc {
            .usp-desc {
                height: 100%;;
                max-height: 100%;
                @media(min-width:1150px) {  
                    margin-top: 10px;  
                    margin-bottom: 15px;               
                }
            }
            .learn-more {
                border: 2px $blue-3 solid;
                padding:10px 15px; 
                margin-top: 25px;
                .arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .health-benefits {
        padding: 50px 25px;
        padding-top: 75px;
        h5 {
          
            font-size: 3.4rem;
            color: $dark-green-1;
            @media(min-width: 500px) {
                text-align: center;
            }
        }
        .subheading {
            font-size: 2.2rem;
            color: $dark-green-3;
            margin-top:5px;
            @media(min-width: 500px) {
                text-align: center;
            }
        }
        ul {
            display: grid;
            width: fit-content;
            gap: 0 30px;
            margin-right: auto;
            margin-top: 25px;
            grid-template-columns: repeat(1,1fr);
            @media(min-width: 500px) and (max-width: 769px) {
                grid-template-columns: repeat(2,1fr);
                margin: 0 auto;
                margin-top: 25px;
            }
            @media(min-width: 770px) and (max-width: 979px) {
                grid-template-columns: repeat(3,1fr);
                margin: 0 auto;
                margin-top: 25px;
            }
            @media(min-width: 980px) {
                grid-template-columns: repeat(4,1fr);
                margin: 0 auto;
                margin-top: 25px;
            }
            li {
                display:flex;
                align-items: center;
                width: 100%;
                padding: 8px 0;
                .icon {
                    width: 30px;
                    margin-right: 10px;
                }
                p {
                    font-size: 1.9rem;
                    color: $grey;
                }
            }
        }
    }
}

.our-process {
    padding: 0px 15px;
    margin-top: 50px;
    .heading {
        color: $white;
        font-weight: 600;
        margin-bottom: 0;
        font-size: 3.2rem;
        font-size: 2.7rem;
        font-family: $fontText;
        color: $dark-green-1;
        text-align: center;
    }
    .process-grid {
        display: flex;
        flex-direction: column;
        @media(min-width: 600px) and (max-width: 8999px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            // gap: 30px;
        }
        @media(min-width: 1000px) {
            display: flex;
            flex-direction: row;
        }
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            text-align: center;
            padding: 25px 15px;
            color: $white;
            .icon-wrapper {
                width: 190px; 
            }
            h5 {
                font-size:2.4rem;
                font-size:2.2rem;
                font-weight: 600;
                font-family: $fontText;
                line-height: 1.3;
                color: $dark-green-1;
                margin-top: 15px;
                .number {
                    color: $yellow-2;
                    margin-right:0px;
                }
            }
            p {
                font-size: 1.7rem;
                font-weight: 400;
                color: $dark-grey;
                // color: $dark-green-1;
                margin-top: 10px;

                
            }
        }
    }
}

.collection-details {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    @media(max-width: 550px) {
        padding: 0;
    }
    @media(min-width: 650px) {
        margin-top: 100px;
    }
    .detail {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media(min-width: 850px) {
            flex-direction: row;
            margin-bottom: 50px;
            &:nth-of-type(2) {
                flex-direction: row-reverse;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
         }
    }
    .image-wrapper {
        width: 100%;
        margin-bottom: 25px;
        max-width: 600px;
        @media(min-width: 700px) {
            // width: 50%;
        }
        @media(min-width: 850px) {
            margin-bottom: 0
        }
    }
    .content {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        @media(min-width:650px ) {
            width: 80%;
        }
        @media(min-width: 850px) and (max-width: 1049px) {
            width: 50%;
            padding: 0 30px;
        }
        @media(min-width: 1050px) {
            width: 50%;
            padding: 0 50px;
        }
        h3{
            font-size: 3.4rem;
            font-weight: 600;
            font-family: $fontText;
            color: $dark-green-1;
            margin-bottom: 15px;
            @media(min-width: 700px) {
                font-size: 3.6rem;
            }
        }
        p { 
            font-size: 1.7rem;
            line-height: 1.6;
            @media(min-width: 1050px) {
                font-size: 1.8rem;
                line-height: 1.7;
            }
        }
    }

}

.product-testimonial {
    margin-bottom: 60px;
    h6 {
        font-weight: 600;
        font-family: $fontText;
        color: $dark-green-1;
        text-align: center;
        width: 100%;
        font-size: 2.6rem;
        @media(min-width: 400px) and (max-width: 699px) {
            font-size: 2.8rem;
        }
        @media(min-width: 700px) {
            font-size: 3rem;
        }
    }
    .inner-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        @media(min-width: 800px) {
            flex-direction: row;
        }
        .video-wrapper{ 
            width: 100%;
            height: 200px;
            @media(min-width: 480px) and (max-width: 799px) {
                height: 300px;
            }
            @media(min-width: 800px) {
                height: 400px;
                width: 55%;
            }
            div {
                height: 100%;
            }
        }
        .customer-details  {
            width: 100%;
            @media(min-width: 800px) {
              padding: 30px 50px;
              width: 45%;
            }
            .name {
                font-size: 2.6rem;
                font-weight: 600;
                color: $dark-green-1;
                margin-top: 15px;
                line-height: 1.1;
                @media(min-width: 900px) {
                    font-size: 3rem;
                }
            }
            .location {
                font-size: 1.8rem;
                font-weight: 500;
                color: $blue-3;
                margin-top: 0px;
                @media(min-width: 900px) {
                    font-size: 2.2rem;
                }
            }
            .statement {
                font-size: 1.6rem;
                font-weight: 400; 
                margin-top: 8px;
                margin-bottom: 25px;
                line-height: 1.5;
                @media(min-width: 900px) {
                    font-size: 1.8rem;
                    line-height: 1.7;
                }
            }
            a {
                margin-top: 30px;
                font-size: 1.8rem;
                color: $oaktree-green;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;
            }
        }
    } 
}