.help-centre-hero {
    width: 100%;
    // height: 400px;
    background-color: $dark-green-6;
    display: flex;
    align-items: center;
    padding: 80px 15px;
    @media(min-width: 800px) {
        padding: 80px 50px;
    }
    h1 {
        font-size:2rem;
        font-weight: 500;
        font-family: $fontText;
        color: $oaktree-green; 
        margin-bottom: 5px;
        text-align: center;
        @media(min-width: 550px){
            font-size: 2rem;
            text-align: left;
        }
    }
    h2 {
        font-size: 4rem;
        font-weight: 600;
        font-family: $fontText;
        color: $dark-green-1;
        text-align: center;
        @media(min-width: 550px) and (max-width: 799px){
                font-size: 4.8rem;
                text-align: left;
        }
        @media(min-width: 800px) {
                font-size: 5.5rem;
                text-align: left;
        }
       
    }
    p {
        font-size: 2rem;
        font-weight: 400;

        color: $dark-grey;
        line-height: 1.5;
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        @media(min-width: 550px) {
            text-align: left;
            margin: 0;
            margin-top: 5px;
        }
    }
}
.faq-content {
    display: flex;
    flex-direction: column;
    margin:50px auto;
    padding-bottom: 50px;
    @media(min-width: 950px) {
        flex-direction: row;
    }
    .side-panel {
        width: 100%;
        padding: 15px;
        @media(min-width: 950px) {
            width: 40%;
            padding:0;
            padding-right: 25px;
        }
        h3 {
            font-size: 1.8rem;
            font-weight: 400;
            font-family: $fontText;
            color: $oaktree-green; 
            margin-bottom: 5px;
        }
        h4 {
            font-size: 5.5rem;
            font-weight: 600;
            font-family: $fontText;
            color: $dark-green-1; 
        }
        p {
            font-size: 2rem;
            font-weight: 400;
            color: $dark-grey;
            line-height: 1.4;
            margin-top: 15px;
        }
    }
    .faqs {
        width: 95%;
        margin: 0 auto;
        margin-top: 25px;
        @media(min-width: 950px) {
            width: 60%;
            margin-top: 0;
            padding-left: 50px;
        }
        .faq-table {
            .accordion {
                border-bottom: 1px $lighter-grey solid;
                .top {
                    padding: 25px 15px;
                    display: flex;
                    align-items: center;
                    background-color: $white;
                    width: 100%;
                    transition: 0.2s;
                    text-align: left;
                    @media(min-width: 950px) {
                        padding: 25px 25px;
                    }
                    .question {
                        font-size: 1.8rem;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 0;
                        color: $dark-green-1;
                        padding-right: 15px;
                        width: calc(100% - 40px);
                        @media(min-width: 550px) {
                            font-size: 2.2rem;
                        } 
                    }
                    .icon{ 
                        width: 25px; 
                        height: 25px; 
                        border-radius: 50%;
                        margin-left: auto;
                    }
                }
                .top:hover {
                    background-color: $dark-green-6;
                }
                .answer {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: $dark-grey;
                    line-height: 1.6;
                    display: flex;
                    flex-direction: column;
                    height: 0px;
                    max-height: 0px;
                    opacity: 0;
                    transition:0.3s;
                    overflow: hidden;
                    padding: 0 25px;
                }
            }
            .accordion.active {
              .top {
                background-color: $dark-green-6;
              }
                .answer {
                    padding: 25px 25px;
                    padding-bottom: 50px;
                    opacity: 1; 
                    height: 100%;
                    max-height: none; 
                    transition: 0.3s;
                }
            }
        }
    }
}