.index-hero {
    width: 100%;
    height: 100%;
    height: 550px;
    padding: 15px;
    position: relative;
    @media(max-width: 500px) {
        padding:10px;
    }
    .hero-image {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        border-radius: 2px;
        overflow: hidden;
    }
    .index-hero-intro {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 2;
        margin: 100px auto;
        .mobile-subheading {
            font-size: 1.2rem;
            font-weight:500;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5px;;
            color: $dark-green-2;
            margin: 0;
            margin-bottom: 2px;
            display: none;
            @media(max-width: 500px) {
                display: block;
            }
        }
        h1 {
            margin-bottom: 10px;
            padding: 0 20px;
            @media(max-width: 500px) {
                margin-bottom: 35px;
                font-size: 2.8rem;
            }
        }
        h2 {
            font-size: 1.4rem;
            font-weight:500;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5px;;
            color: $dark-green-2;
            margin-bottom: 30px;
            @media(max-width: 500px) {
                display: none;
            }
        }
    }
    .scroll-down{
        width:60px;
        height: 60px;
        border: 2px $white solid;
        border-radius: 50px;
        background-color: rgba(255,255,255,0.3);
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        .arrow {
            border: solid $white;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            display: inline-block;
            padding: 7px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-top: -5px;
        }
    }
    .scroll-down:hover {
        background-color: $white;
        .arrow {
            border: solid $dark-green-2;
            border-width: 0 3px 3px 0;
        }
    }
}

.index-collections {
    width: 100%;
    padding: 0 10%;
    margin-top: calc(50px - 15px);
    @media(max-width: 500px) {
        margin-top: calc(50px - 20px);
    }
    @media(max-width: 1200px) and (min-width: 501px){
        padding: 0 15px; 
    }
    @media(max-width: 500px) {
        padding:10px;
    }
    .collection-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin-top: 50px;
        @media(max-width: 500px) {
           display: flex;
           flex-direction: column;
           gap: 0px;
        }
        .collection-item {
            width: 100%;
            height: 400px;
            position: relative;
            overflow: hidden;
            border-radius: 1px;
            @media(max-width: 500px) {
                height: 250px;
                margin-bottom: 15px;
                 &:last-of-type {
                     margin-bottom: 0;
                 }
             }
            .item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color:#0D2021;
                opacity: 0.3;
            }
            .collection-info {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                cursor: pointer;
                p {
                    font-size: 1.3rem;
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    margin: 0;
                    transform: translate(0, 25px);
                    transition: 0.3s;
                }
                h3 {
                    font-size: 3rem;
                    font-weight: 500;
                    font-family:$fontHeadings;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;;
                    color: $white;
                    text-align: center;
                    transform: translate(0, 25px);
                    transition: 0.3s;
                }
                .acting-button {
                    padding: 10px 25px;;
                    background-color: $dark-green-1;
                    color: $white;
                    margin-top: 15px;
                    box-shadow: 0 3px 20px rgba(0,0,0,0.18);
                    border-radius: 2px;
                    cursor: pointer;
                    transform: translate(0, 400px);
                    transition: 0.3s;
                    position: relative;
                    overflow: hidden;
                    .bg-overlay {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                   
                        height: 100%;
                        max-height:0;
                        background-color: $white;
                        transition: 0.2s;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        position: relative;
                        z-index: 2;
                    }
                }
                .acting-button:hover{
                    .bg-overlay {
                        max-height: 100%;
                    }
                    p {
                        color: $dark-green-1;
                        font-weight: 600;
                    }
                }
            }
        }
        .collection-item:hover {
            p, h3, .acting-button {
                transform: translate(0, 0)
            }
        }
    }
}
.index-intro {
    margin: 100px auto;
    @media(max-width: 500px) {
        margin: 50px auto;
    }
    button {
        transition: 0.6s;
    }
    button.corner {
        position: fixed;
        bottom: 0px;
        right:0px;
    }
}
.index-p {
    font-size: 1.3rem;
    font-weight: 400;
    color: $grey;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.5px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;
    @media(max-width: 500px) {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 25px;
    }
}
.index-banner {
    width: 100%;
    height: 300px;
    padding: 0 15px;
    .banner-wrapper {
        width: 100%;
        height: 100%;
        background-color: $accent-red-5;
        border-radius: 1px;
    }
}

.index-usps {
    width: 100%;
    margin: 100px 0;
    @media(max-width: 500px) {
        margin: 50px 0;
    }
    .usp-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 50px 15px;
        @media(max-width: 500px) {
            display: flex;
            padding-bottom: 0;
        }
        .usp-item {
            width: 100%;
            @media(max-width: 500px) {
                display: none;
                &:first-of-type {
                    display: initial;
                }
            }
            .image-wrapper {
                width: 100%;
                height: 250px;
                background-color: rgba(0,0,0,0.13);
            }
            .usp-title {
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: $dark-green-1;
                margin: 15px 0;
                margin-bottom: 5px;
            }
            .usp-info {
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.6;
                color: $grey;
                margin: 0;
                margin-bottom: 15px;
                @media(max-width: 500px) {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 20px;
                }
            }
            a {
                font-size: 1.2rem;
                font-weight: 400;
                color: $dark-green-3;
                text-decoration: underline;
                text-underline-offset: 5px;
                text-decoration-thickness: 2px;
                transition: 0.2s;
                @media(max-width: 500px) {
                    font-size: 1.1rem;
                    text-decoration: none;
                    border: 2px solid $dark-green-3;
                    padding: 8px 25px;
                    border-radius: 25px;
                    display: inline-block;
                    
                    &:hover {
                        background-color: $dark-green-3;
                        color: $white;
                    }
                }
                
            }
        }
    }
}
.carousel-buttons {
    max-width: 200px;
    margin-left: auto;
    display: flex;
   justify-content: flex-end;
   padding-right: 15px;
   @media(max-width: 500px) {
       padding-right: 10px;
   }
        button {
            margin: 0;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 18px;
            cursor: pointer;
            transition: 0.2s;
        }
        .prev {
            margin-right: 15px;
            background: none;
            box-shadow: none;
        }
        .prev:hover, .prev:active {
            box-shadow:0 4px 20px rgba(0,0,0,0.09);
        }
    }

.index-enviroments {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    padding: 0 15px;
    @media(max-width: 500px) {
        display: flex;
        flex-direction: column;
        gap :0;
    }
    .col {
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-color: rgba(0,0,0,0.14);
        position: relative;
        @media(max-width: 500px) {
           margin-bottom: 15px;
           &:last-of-type {
               margin-bottom :0;
           }
        }
  
    }
    .col-1 {
        grid-row-start: 1;
        grid-row-end: 3;
        @media(max-width: 500px) {
            min-height: 250px;
        }

    }
    .col-2 {
           grid-column: 2;
           @media(max-width: 500px) {
            min-height: 150px;
        }

    }
    .product-indicator {
        position: absolute;
        bottom: 205px;
        left: 210px;

        .indicator-outer {
            border: 2px $white solid;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            .indicator-inner {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: $white;
                transform: scale(0.95)
            }
        }
        .product-info-modal {
            padding: 8px;
            background-color: $white;
            border-radius: 2px;
            box-shadow: 0 3px 22px rgba(0,0,0,0.14);
            position: absolute;
            width: 200px;
            top: -80px;
            left: 50%;
            transform: translate(-50%, 0) scale(0);

            transition: 0.2s;
            p {
                margin: 0;
            }
            .name {
                font-size: 1.2rem;
                font-weight: 600;
                color: $dark-green-1
            }
            .type {
                font-size: 1rem;
                font-weight: 400;
                color: $grey;
            }
        }
    } 
    .indicator-2 {
        bottom: 95px;
        left: 210px;
    }
    .indicator-3 {
        bottom: 80px;
        left: 50px;
    }
    .col:hover {
        .indicator-outer {
            animation: pulse-white 2s infinite;
        }
    }
    .product-indicator:hover {
        .indicator-outer {
            animation: none;
        }
        .product-info-modal {
            transform: translate(-50%, 0) scale(1);
        }
    }
}

@keyframes pulse-white {
    0% {
    //   transform: scale(0.95);
      border: 2px solid rgba(255, 255, 255, 0.7);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    20% {
    //   transform: scale(0.90);
      border: 2px solid rgba(255, 255, 255, 0);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40% {
    //   transform: scale(0.85);
      border: 2px solid rgba(255, 255, 255, 0.7);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    60% {
    //   transform: scale(0.90);
      border: 2px solid rgba(255, 255, 255, 0);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    80% {
    //   transform: scale(0.95);
      border: 2px solid rgba(255, 255, 255, 0.7);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    100% {
    //   transform: scale(0.95);
      border: 2px solid rgba(255, 255, 255, 0);
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

.index-reviews {
    width: 100%;
    margin: 100px 0;
    padding: 0 15px;
    @media(max-width: 500px) {
        margin: 50px 0;
    }
}
.review-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .review-carousel {
        width: 60%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 500px) {
            width: 100%;
            height: auto;
        }
        .review {
            width: 100%;
            max-width: 500px;
            // height: 250px;
            border-radius: 8px;
            box-shadow: 0 3px 21px rgba(0,0,0,0.11);
            padding: 15px;
            @media(max-width: 500px) {
                max-width: initial;
            }
            .review-head {
                width: 100%;
                display: flex;
                align-items: center;
                .avatar {
                    width: 50px;
                    height :50px;
                    border-radius: 25px;;
                    background-color: rgba(0,0,0,0.18);
                    margin-right: 15px;
                }
                .review-info {
                    p {
                        margin: 0;
                    }
                    .name {
                        font-size: 1rem;
                        font-weight: 600;
                        font-family: $fontHeadings;
                        color: $dark-green-1;
                        letter-spacing: 1px;
                    }
                    .date {
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: $grey;
                    }
                }
                .rating {
                    margin-left: auto;

                }
            }
            .review-content {
                font-size: 1rem;
                font-weight: 300;
                color: $grey;
                margin-top: 15px;
                letter-spacing: 0.5px;
                line-height: 1.6;
            }
        }
    }
    .button-wrapper {
        @media(max-width: 500px) {
            display: none;
        }
        button {
         width: 40px;
         height: 40px;
         border-radius:25px;
         padding: 0;
         background: none;
         box-shadow: none;
         transition: 0.2s;
         cursor: pointer;
        }
        button:hover {
            box-shadow: 0 2px 22px rgba(0,0,0,0.12);
        }
    }
}


.index-testimonials {
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        padding: 0 15px;
        margin: 50px 0;
        @media(max-width: 500px) {
            display: flex;
            gap: 0;
            margin-bottom: 0;
        }
        .testimonial-item {
            width: 100%;
            height: 400px;
            position: relative;
            border-radius: 2px;
            overflow: hidden;
            display: flex;
            padding: 15px;
            @media(max-width: 500px) {
                display: none;
                height: 250px;
                border-radius: 4px;
                &:first-of-type {
                    display: flex;
                }
            }
            .image-wrapper {
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left: 0;
            }
            .item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
            }
            .button-wrapper {
                width: 60px;
                height:  60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
            .testimonial-info {
                margin-top: auto;
                position: relative;
                z-index: 1;
                p {
                    margin: 0;
                }
                .name {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $white;
                    line-height: 1.2;
                }
                .place {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $white;
                }
                .date {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $white;
                    border-top: 2px $white solid;
                    padding-top: 5px;
                    @media(max-width: 500px) {
                        display: none;
                    }
                }
            }
        }
    }
    .mobile-button-wrapper {
        margin-top: 30px;
        @media(min-width: 500px) {
            display: none;
        }
    }
}
   
.usp-overlay {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 3px 21px rgba(0,0,0,0.12);
    position: fixed;
    bottom: 25px; 
    right:25px;
    z-index: 999;
    overflow: hidden;
    transition: 0.1s;
    .inner-hidden {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(23,73,77,0.40);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.3s;
        button {
            padding: 8px 15px;
            font-size: 1rem;
            margin: 5px 0;
            text-transform: none;
            cursor: pointer;
        }
        .close {
            background-color: $white;
            color: $accent-red-2;
        }
    }
}
.usp-overlay.overlay-hide {
    transform: scale(0);
}
.usp-overlay:hover {
    .inner-hidden {
        opacity: 1;
    }
}