.orphan-brochure-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    .usp-header {
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px $lighter-grey solid;
        @media(min-width: 1000px) {
            border-bottom: none;
        }
        .inner-wrapper {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            
            @media(min-width: 800px) {
                display: flex;
                padding: 10px 15px;
            }
        }
        .usp-item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom:25px;
            flex-direction: column;
            @media(min-width: 400px) {
                flex-direction: row;
                margin-bottom:0;
            }
            @media(min-width: 800px) and (max-width: 950px) {
                flex-direction: column;   
            }            
            p {
                margin-left: 5px;
                font-size: 1.8rem;
                font-weight: 400;
                text-align: center;
                @media(min-width: 375px) {
                     text-align: left;
                }
                @media(min-width:452px ) and (max-width: 800px) {
                    width: 145px;
                }
            }
            .icon-wrapper {
                width: 70px;
                @media(min-width: 400px) {
                    width: 60px;
                }
            }
        }
    }
    .orphan-con-reg { 
        @media(min-width: 1000px) {
            max-width: 840px;
            margin-left: auto
        }
    }
 
    .form {
        width: 40%;
        max-width: 560px; 
        height: 100vh;
        margin-right: auto;
        position: sticky;
        top:0;
        z-index:999;
        box-shadow: -5px 3px 21px rgba(23,73,77,0.17);
        
        display: none;
        @media(min-width: 1000px) {
            display: initial;
        }
        .form-title {
            background-color: $dark-green-1;
            padding: 15px 25px;
            box-shadow: 0 3px 21px rgba(23,73,77,0.17); 
            text-align: center;
            h1 {
                color: $white;
                text-align: left;
                line-height: 1.4;
            }
            p {
                color: $white;
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: 0px;
                text-align: left;
            }
        }
    }
    .content {
        width: 100%;
        @media(min-width: 1000px) {
            width: 60%;
        }
        .orphan-padding {
            padding: 0 25px;
            @media(min-width: 1400px) {
             
                padding-left: 15px;
            }
        }
        .hero {
            position: relative;
            width: 100%;
            height: 580px;
            display: flex;
            .intro-box {
                width: 100%;
                margin: auto;
                margin-bottom: 15px;
                position: relative;
                z-index: 5;
                background-color: $white;
                padding: 30px;
                display: flex;
                flex-direction: column;
                border-radius: 2px;
                @media(min-width: 600px) {
                    width: 90%;
                }
                .inner-border {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: calc(100% - 16px);
                    height: calc(100% - 16px);
                    border: 3px #17494D solid;
                    border-radius: 2px;
                }
                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    font-family: $fontHeadings;
                    text-align: left;
                    line-height: 1.4;
                    color: $dark-green-1;
                    @media(min-width: 600px) {
                        text-align: center;
                        font-size: 3.8rem;
                    }
                    @media(min-width: 1000px) and (max-width: 1099px) {
                        font-size: 3.2rem;
                    }
                }
                p {
                    font-size: 2.2rem;
                    font-weight: 400;
                    text-align: left;
                    margin-top: 5px;
                    color: $dark-green-2;
                    line-height: 1.4;
                    @media(min-width: 600px) {
                        text-align: center;
                        font-size: 2.6rem;
                        margin-top: 5px;
                       }
                    // @media(min-width: 1000px) and (max-width: 1099px) {
                    //     font-size: 2.4rem;
                    // }
                }
            }
        }
        .health-benefits {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            text-align: center;
            @media(min-width: 600px) {
                padding-top: 40px;
            }
            @media(min-width: 1000px) {
                display: column
            }
            .inner-wrapper {
                margin-top: 20px;
            }
            h2 {
                font-size: 3.3rem;
                font-weight: 700;
                color: $dark-green-1;
                @media(min-width: 400px) {
                    font-size: 3.6rem;
                }
            }
            p {
                font-size: 2.2rem;
                font-weight: 400;
                color: $dark-green-2;
                margin-top: 5px;
                padding: 0;
                line-height: 1.5;
                @media(min-width: 400px) {
                    padding: 0 5%;
                }
            }
            .benefits-grid {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap : 40px 20px;
                width: fit-content;
                margin: 40px auto;

                @media(min-width: 400px) {
                    grid-template-columns: repeat(2,1fr);
                    gap : 20px;
                }
                @media(min-width: 500px) {
                    gap: 50px;
                }
                .health-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    @media(min-width: 800px) and (max-width: 999px){
                        width: 330px;
                        flex-direction: row;
                    }
                    @media(min-width: 1000px) {
                        width: auto;
                        flex-direction: row;
                    }
                    .icon-wrapper {
                        @media(min-width: 800px)  {
                            margin-right: 15px;
                        }
                    }
                    p {
                        font-size: 2rem;
                        font-weight: 400;
                        color: $black;
                        margin: 0;
                        text-align: center;
                        line-height: 1.6;
                        @media(min-width: 800px)  {
                            font-size: 2.2rem;
                            text-align: left;
                        }
                        @media(min-width:1240px ) {
                            width:251px;
                        }
                    }
                }
            }
            .benefits-grid.bathing {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 0;
                margin: 20px auto;
                margin-bottom:40px;
                width: fit-content;
                .health-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    // margin: 20px 0;
                    padding: 10px 15px;
                    @media(min-width: 600px) {
                        flex-direction: row;
                    }
                    .icon-wrapper {
                        width: 30px;
                        height: 30px;
                        margin: 0;
                        margin-bottom: 5px;
                        @media(min-width: 600px) {
                            margin: 0;
                            margin-right: 15px;
                        }
                    }
                    p {
                        text-align: center;
                        font-size:2.1rem;
                        font-weight: 500;
                        color: $dark-green-1;
                        width: 100%;
                        margin: 0;
                        padding:0;
                        @media(min-width: 600px) {
                            text-align: left;
                        }
                    }
                }
            }
            .image-wrapper {
                // width: calc(100% + 50px);
                height: 300px;
                position: relative;
                margin-bottom: 30px;
                @media(min-width: 600px) and (max-width: 999px) { 
                    width: calc(90% + 50px );
                    height: 400px;
                }
                @media(min-width: 1000px) {
                    width: 100%;   
                    height: 400px;
                    // margin-top: 50px;   
                    margin-bottom: 25px;              
                }
                
            }
        }
        .quote {
            margin-top: 25px;
            .inner-wrapper {
                padding: 40px 25px;
                text-align: left;
                @media(min-width: 500px) {
                    padding: 50px;
                    text-align: center;
                }
                @media(min-width: 1000px) {
                    text-align: left;
                }
                .statement {
                    font-size: 3rem;
                    font-weight: 500;
                    font-family: $fontHeadings;
                    color: $white;
                    margin-bottom: 15px;
                    line-height: 1.4;
                    // @media(min-width: 375px) {
                    //     font-size: 3.3rem;
                    //     line-height: 1.6;
                    // }
                }
                .author {
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: $yellow-3;
                    margin-bottom:5px;
                    @media(min-width: 1000px) {
                        font-size: 2.2rem; 
                    }
                }
            }
        }
        .brochure-usps {
            padding-top: 40px;

            h3 {
                font-size: 3.3rem;
                color: $dark-green-1;
                text-align: center;
                @media(min-width: 400px) {
                    font-size: 3.6rem;  
                }
                @media(min-width: 1050px) {
                    text-align: center;
                } 
            }
            .flex-row {
                flex-direction: column-reverse;
                margin: 20px auto;
                @media(min-width: 650px) and (max-width: 1000px) {
                    flex-direction: row;
                }
                @media(min-width: 1050px) {
                    flex-direction: row;
                }
            }
            .usp-points {
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
                @media(min-width: 650px) and (max-width: 1000px) {
                    width: 50%;
                    max-width: 100%;
                    margin: 0;
                }
                @media(min-width: 1050px) {
                    width: 50%;
                    max-width: 100%;
                    margin: 0;
                }
                ul {
                    margin-top: 50px;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 50px;
                        @media(min-width: 650px) and (max-width: 1000px) {
                            flex-direction: row;
                            align-items: unset;
                            justify-content: unset;
                        }
                        @media(min-width: 1050px) {
                            flex-direction: row;
                            align-items: unset;
                            justify-content: unset;
                        }
                        .num-wrapper {
                            background-color: $dark-green-5;
                            width: 50px;
                            height:50px;
                            font-size: 2.2rem;
                            margin-bottom: 25px;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $oaktree-green;
                            @media(min-width: 650px) {
                                font-size: 2rem;
                                width: 40px;
                                height:40px;
                                margin-bottom: 0;
                                margin-right: 20px;
                                margin-top: 5px;
                            }
                        
                        }
                        p {
                            font-size:2rem;
                            font-weight: 400;
                            line-height: 1.8;
                            text-align: center;
                            @media(min-width: 650px) {
                                font-size: 2rem;
                                text-align: left;
                                line-height: 1.4;
                                width: calc(100% - 35px);
                            }
                        }
                    }
                }
            }
            .brochure-wrapper {
                width: 100%;
                height:fit-content;
                position: relative;
                // padding:  50px 0;
                margin:auto;
             
                box-shadow: 0px 8px 21px rgba(0,0,0,0.18);
                @media(min-width: 500px) and (max-width:599px) {
                width: 60%;
                }
                @media(min-width: 600px) and (max-width: 1049px) {
                    width: 40%;
                    margin-top:0px;
                }
                @media(min-width: 1050px) {
                    width: 45%;
                    
                }
            }
        }
        .testimonials {
            padding-top: 50px;
            padding-bottom: 0;
            h4 {
                font-size: 3.8rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 10px;
                color: $dark-green-1;
            }
            .subheading {
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.6;
                text-align: center;
                margin-top: 15px;
            }
            .testimonial-tile {
                height: 450px;
            }
        }
       .testimonials.con-reg {
        @media(max-width: 600px) {
            padding-left:0;
            padding-right:0;
        }
       }
       .testimonials.bathing {
            .testimonial-tile{
                margin: 25px auto;
            }           
       }
        .reviews-wrapper {
            .con-reg {
                background-color: $blue-4;
                .reviews {
                    max-width: 840px;
                    margin-right: 0;
                    margin-left: auto;
                    .review-carousel  {
                        .review {
                            @media(min-width: 1000px) and (max-width: 1350px){
                                width: 73%;
                            }
                        }
                    }
                }
            }
        }
        .orphan-reasons {
            h5 {
                font-size: 3.3rem;
                font-weight: 600;
                color: $dark-green-1;
                text-align: center;
                @media(min-width: 400px) {
                    font-size: 3.6rem; 
                }
                @media(min-width: 600px) {
                     padding: 0 5%;
                }
            }
            .reasons-grid {
                display: flex;
                flex-direction: column;
                .reason {
                    display: flex;
                    border-bottom: 1px $lighter-grey solid;

                    // height: 390px;
                    @media(min-width: 400px) {
                        padding: 40px 0;
                        // height: 400px;
                    }
                    &:nth-of-type(even) {
                        flex-direction: row-reverse;
                    }
                  .content {
                      display: flex;
                      flex-direction: column;
                    //   align-items: center;
                      justify-content: flex-end;
                      position: relative;
                      
                      width: 100%;
                        @media(min-width: 600px) {
                            width: 50%;
                            padding: 25px;
                        }
                      .number {
                        font-size: 2.8rem;
                          color: $yellow-3;
                          @media(min-width: 600px) {
                            color: $dark-green-1;
                            font-size: 3.8rem;
                            position: absolute;
                            top: 0;
                            right:10px;
                            opacity: 0.2;
                            font-size: 13rem;
                            line-height: 0.7;
                        }
                      }
                      .number.bathing {
                          color: $blue-3;
                          @media(min-width: 600px) {
                            color: $dark-green-1;
                          }
                      }
                      .icon-wrapper {
                        width: 40%;
                          margin: 0 auto;
                          @media(min-width: 600px) {
                            width: 100px;
                            margin:0;
                          }
                      }
                    .reason-title {
                         font-size: 2.8rem;
                          font-weight: 600;
                          color: $dark-green-1;
                          text-align: center;
                          margin-top: 5px;
                          @media(min-width: 600px) {
                            font-size: 2.6rem;
                            text-align: left;
                        }
                      }
                      .reason-title.bathing {
                        @media(min-width: 600px) {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                        .number {
                            @media(min-width: 600px) {
                                font-size: 3.8rem;
                                position: relative;
                                top:unset;
                                left:unset;
                            }
                          }
                      }
                      .reason-content {
                          font-size: 1.8rem;
                          font-weight: 400;
                          line-height: 1.5;
                          text-align: center;
                          margin-top: 10px;
                          color: $darker-grey;
                          @media(min-width: 600px) {
                            font-size: 2rem;
                            text-align: left;
                        }
                      }
                  }
                  .image-wrapper {
                    width: 50%;
                    position: relative;
                    display: none;
                      @media(min-width: 600px) {
                        display: initial;
                      }
                      .bhf-overlay {
                          position: absolute;
                          bottom: -3px;
                          right:0;
                      }
                  }
                }
            }
        }
        .sales-banner {
            color: $white;
            padding: 40px;
            .subheading {
                font-size: 2rem;
                font-weight: 400;
                text-align: left;
                color: $white;
            }
            h6 {
                font-size: 3rem;
                font-weight: 600;
                text-align: left;
                @media(min-width: 600px) {
                    font-size: 6rem;
                }
            }
            p {
                font-size: 2rem;
                color: $white;
            }
        }
        .occupational-therapist {
            display: flex;
            padding: 50px 25px;
            flex-direction: column-reverse;
            @media(min-width: 1100px) {
                flex-direction: row;
            }
            @media(min-width: 1400px) {
                padding-left: 15px;
            }
            .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @media(min-width: 1100px) {
                    width: 50%;
                    align-items: unset;
                    text-align: left;
                    padding-right: 15px;
                }
                .subheading {
                    font-size: 2rem;
                    font-weight: 500;
                    color: $blue-3;
                    margin-bottom: 5px;
                    // padding: 0 50%;
                    @media(min-width: 450px ) {
                        padding: 0;
                    }
                }
                h6 {
                    font-size: 3.3rem;
                    font-weight: 600;
                    color: $dark-green-1;
                    @media(min-width: 400px) {
                        font-size: 3.6rem;
                    }
                }
                .mobile-image {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin: 25px auto;
                    display: initial;
                    @media(min-width: 1100px) {
                        display: none;
                    }
                }
                .content-p {
                    font-size: 2rem;                    
                    line-height: 1.4;
                    font-weight: 400;
                    @media(min-width: 400px) {
                        font-size: 2.2rem;                    
                        line-height: 1.5;
                    }
                    @media(min-width: 1100px) {
                        margin-top: 25px;
                        padding: 25px 0;
                    }
                }
                .partnered-with {
                    margin-top: 40px;
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                    
                }
            }
            .image-wrapper {
                display: none;
                @media(min-width: 1100px) {
                    width: 50%;
                    display: initial;
                }
            }
        }
        .occupational-therapist.bathing {
            display: flex;
            padding: 50px 25px;
            flex-direction: column-reverse;
            @media(min-width: 1100px) {
                flex-direction: row;
            }
            @media(min-width: 1400px) {
                padding-left: 15px;
            }
            .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                // @media(min-width: 1100px) {
                //     width: 50%;
                //     align-items: unset;
                //     text-align: left;
                //     padding-right: 15px;
                // }
                .subheading {
                    font-size: 2rem;
                    font-weight: 500;
                    color: $blue-3;
                    margin-bottom: 5px;
                    // padding: 0 50%;
                    @media(min-width: 450px ) {
                        padding: 0;
                    }
                }
                h6 {
                    font-size: 3.3rem;
                    font-weight: 600;
                    color: $dark-green-1;
                    @media(min-width: 400px) {
                        font-size: 3.6rem;
                    }
                }
                .mobile-image {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin: 25px auto;
                    display: initial;
            
                }
                .content-p {
                    font-size: 2rem;                    
                    line-height: 1.4;
                    font-weight: 400;
                    padding: 0;
                    margin:0;
                    @media(min-width: 400px) {
                        font-size: 2.2rem;                    
                        line-height: 1.5;
                    }
                    // @media(min-width: 1100px) {
                    //     // margin-top: 25px;
                    //     padding: 25px 0;
                    // }
                }
                .partnered-with {
                    margin-top: 40px;
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                    
                }
            }
            .image-wrapper {
                display: none;
                // @media(min-width: 1100px) {
                //     width: 50%;
                //     display: initial;
                // }
            }
        }
        .occupational-therapist-quote {
            padding: 40px 25px;
            .subheading {
                font-size: 2rem;
                font-weight: 400;
                color: $yellow-3;
                text-align: center;
                line-height: 1.4;
            }
            h6 {
                font-size: 4rem;
                font-weight: 600;
                text-align: center;
                color: $white;
            }
            .ot-quote {
                position: relative;
                .quote-mark {
                    font-size: 6rem;
                    font-weight: 600;
                    font-family: $fontHeadings;
                    color: $yellow-4;
                    position: absolute;
                }
                .mark-left {
                    top: -42px;
                    left: 0;
                    @media(min-width: 380px) and (max-width: 530px){
                        top: -60px;
                    }
                }
                .mark-right {
                    bottom:-80px;
                    right: 0;
                    @media(min-width: 350px)and (max-width: 530px) {
                        bottom:-80px;
                    }
                }
                .quote {
                    font-size: 2.3rem;
                    font-weight: 300;
                    color: $white;
                    text-align: center;
                    line-height: 1.4;
                }
            }
            .author {
                font-size: 2.2rem;
                font-weight: 400;
                color:$white;
                text-align: center;
                margin-top: 25px;
            }
        }
        .join-oak-tree  {
            padding-top: 40px;
            padding-bottom: 50px;
            h6 {
                font-size: 3.6rem;
                font-weight: 600;
                text-align: center;
                color: $dark-green-1;
                margin-bottom: 5px;
            }
            .subheading {
                font-size: 2.1rem;
                font-weight: 400;
                line-height: 1.5;
                max-width: 600px;
                text-align: center;
                margin : 0 auto;
                margin-bottom: 25px;
                color: $dark-green-2;
            }
            .cx-grid {
                position: relative;
                .cx-item {
                    width: 100%;
                    .image-wrapper {
                        width: 100%;
                        position: relative;
                        height: 350px;
                        @media(min-width: 450px) and (max-width: 600px) {
                            height: 450px;
                        }
                    }
                    p {
                        font-size: 1.8rem;
                        text-align: center;
                        margin-top: 15px;
                    }
                }
            }
        }
        .our-partners {
            border-top: 1px $lighter-grey solid;
            padding: 25px 0;
            padding-bottom: 100px; 
            @media(min-width: 1000px) {
                padding: 25px 0;
            }
            p {
                font-size: 2.2rem;
                font-weight: 500;
                text-align: center;
            }
            .logo-grid {
                display: flex;
                margin-top: 5px;
                padding-right:15px;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .partner-logo {
                    margin-bottom: 15px;
                    min-width: 150px;
                }
            }
        }
    }
 
}