
.orphan-brochure-wrapper {
    display: flex;
    @media(max-width: 950px) {
        flex-direction: column;
    }
    .orphan-content {
        width: 60%;
        @media(max-width: 950px) {
            width: 100%;
        }
        .orphan-hero {
            width: 100%;
            height: 400px;
            position: relative;
        }
        .orphan-intro {
            background-color: $dark-green-1;
            padding: 25px;
            margin-bottom: 25px;
            .heading {
                @media(max-width: 650px) {
                    br{content:' ';}
                    br:after{content:' ';}
                }
     
            }
        }
        .orphan-section {
            padding: 25px 15px;
        }
        .seconndary-hero {
            width: 100%;
            height: 250px;
            background-color: rgba(0,0,0,0.10);
            margin: 50px 0;
            border-radius: 4px;
            overflow: hidden;
        }
        .usp-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 90%;
            margin: 0 auto;
            @media(max-width: 600px) and (min-width: 561px){
                width: 100%;
            }
            @media(max-width: 560px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 260px;
                margin-bottom: 25px;
            }
            li {
                padding: 15px;
                display: flex;
                align-items: center;
                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $dark-green-1;
                }
            }
        }
        .quote-container {
            display: flex;
            padding: 15px;
            margin: 25px 0;
            .button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 500px) {
                    display: none;
                }
            }
            .quote-carousel {
                width: 90%;
                padding: 0 15px;
                @media(max-width: 500px) {
                    width: 100%;
                }
                .quote {
                    position: relative;
                    .content {
                        font-size: 1.8rem;
                        font-weight: 300;
                        font-family: $fontHeadings;
                        color: $white;
                        letter-spacing: 1px;
                        text-align: center;
                        text-transform: capitalize;
                        margin-bottom: 15px;
                    }
                    .name, .place {
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-align: center;
                    }
                    .quote-mark {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                    }
                    .mark-open {
                        top: 0;
                        left: -40px;
                        @media(max-width: 500px) {
                            left: -25px;
                        }
                    }
                    .mark-close {
                        bottom: 40px;
                        right: 30px;
                        @media(max-width: 500px) {
                            right: -15px;
                        }
                    }
                }
            }
        }
        .icon-wrapper {
            width: 25px;
            height: 25px;
            margin-right: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .inner-flex {
            display: flex;
            padding: 0 15px;
            ul {
                padding-top: 25px;
                padding-right: 25px;
                width: 50%;
                li {
                    display: flex;
                    padding: 25px 0;
                    .icon-wrapper{
                        padding-top: 5px;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: $dark-green-2;
                    }
                }
            }
            .image-wrapper {
                width: 50%;
                height: 100%;
                background: none;
            }
        }
        .orphan-testimonials {
             display: flex;
             margin: 50px 0;
             .testimonial-item {
                 @media(max-width: 750px) {
                    height: 350px;
                 }
                 &:first-of-type {
                    margin-right: 25px;
                    @media(max-width: 560px) {
                        margin-right: 0;
                     }
                 }
                 &:last-of-type {
                    display: flex;
                    @media(max-width: 560px) {
                        display: none;
                     }
                 }
             }
        }
        .review-capsule {
            .review-carousel {
                width: 100%;
                height: 100%;
                padding: 0 25px;
            }
        }
        .reasons-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding-top: 50px;
            @media(max-width: 650px) {
                display: flex;
                // flex-direction: column;
                width: 180%;
            }
            .reason {
                width: 100%;
                @media(max-width: 650px) {
                    display: none;
                    background-color: $white;
                    box-shadow: 0 3px 21px rgba(0,0,0, 0.11);
                    padding: 15px;
                    border-radius: 13px;
                    width: 10000%;
                    max-width: 350px;
                    &:first-of-type{
                        display: initial;
                    }
                    &:nth-of-type(2) {
                        display: initial;
                    }
                }
                .top {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    height: 90px;
                    // padding-bottom: 0;
                    .reason-number {
                        font-size: 2.5rem;
                        font-weight: 500;
                        font-family: $fontHeadings;
                        color: $dark-green-1;
                        opacity: 0.3;
                        margin-right: 15px;
                    }
                    .reason-title {
                        font-size: 1.8rem;
                        font-weight: 600;
                        font-family: $fontHeadings;
                        color: $dark-green-2;
                        letter-spacing: 1px;
                        line-height: 1.3;
                    }
                }
                .reason-content {
                    padding: 15px;
                    padding-top: 0;
                    p {
                        font-size: 1rem;
                        font-weight: 300;
                        color: $grey;;
                    }
                }
            }
            .reasons-imagery {
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.10);
                border-radius: 8px;
            }
        }
        .reasons-button-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-top: 25px;
            @media(min-width:651px) {
                display: none;
            }
            button {
                margin: 0 15px;
            }
        }
        .sale-banner {
            padding: 25px;
            margin: 25px 0;
            .heading, .subheading {
                text-align: left;
            }
            .sale-content {
                margin-top: 25px;
                font-size: 1.2rem;
                font-weight: 500;
            }
            .small-print {
                // margin-top: 15px;
                font-size: 0.8rem;
                font-weight: 300;   
            }
        }
        .flex-row {
            @media(max-width:650px) {
                flex-direction: column;
            }
        }
        .op-recommended {
            padding: 50px 25px;
            margin: 50px 0;
        }
        .op-content {
            width: 60%;
            padding-right: 25px;
            @media(max-width:650px) {
                width: 100%;
            }
            .heading, .subheading {
                text-align: left;
                @media(max-width:650px) {
                    text-align: center;
                }
            }
            .content {
                margin-top: 25px;
                font-size: 1.2rem;
                @media(max-width:650px) {
                    text-align: center;
                }
            }
        }
        .op-image{
            // width: 50%;
            // height: 100%;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            @media(max-width:650px) {
                width: 100%;
                margin-top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
            }
        }
        .mobile-op-image{
            display: none; 
            @media(max-width:650px ) {
                width: 100%;
                margin-top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .customer-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                width: 100%;
                height:300px;
                margin-top: 50px;
                @media(max-width: 1100px) and (min-width: 951px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    height: 250px;
                }
                @media(max-width: 680px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    height: 250px;
                }
                .customer-item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 10px;
                    position: relative;
                    border-radius: 2px;
                    overflow: hidden;
                    cursor: pointer;
                    @media(max-width: 1100px) and (min-width: 951px) {
                        &:last-of-type {
                            display: none;
                        }
                    }
                    @media(max-width: 680px) {
                        &:last-of-type {
                            display: none;
                        }
                    }
                    .customer-info {
                        margin-top: auto;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .customer-name {
                            font-size: 1.1rem;
                            font-weight:400;
                            color: $white;
                            position: relative;
                            z-index: 5;
                            margin-right: auto;
                        }
                        .info-icon {
                            position: relative;
                            z-index: 1;
                            background-color: rgba(255,255,255,0.4);
                            width: 40px;
                            height: 40px;
                            border-radius: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $white;
                            font-size: 1.5rem;
                            margin-left: auto;
                        }
                    }
                    .overlay-bg {
                        position: absolute;
                        bottom:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $dark-green-1;
                        opacity: 0.3;
                        transform-origin: 0 100%;
                        transition: transform .5s;
                        transform: scaleY(0);
                        z-index: 2;;
                    }
                    .overlay {
                         width: 100%;
                         height: 100%;
                         position: absolute;
                         bottom: 0;
                         left: 0;
                        backdrop-filter: blur(5px);
                        padding: 0;
                        overflow: hidden;
                        transition: 0.2s;
                        z-index: 2;;
                        transform-origin: 0 100%;
                        transition: transform .5s;
                        transform: scaleY(0);
            
                        p {
                            font-size: 1.1rem;
                            color: $white;
                            opacity: 0;
                            transition: ease-in 0.4s;
                        }
                    }
                }
                .customer-item:hover {
                    .overlay-bg {
                        max-height: 100%;
          
                        transform: scaleY(1);
                    }
                    .overlay {
                        max-height: 100%;
                        padding: 25px 15px;
                        backdrop-filter: blur(5px);
                        transform: scaleY(1);
                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        .orphan-partners {
            width: 100%;
            .heading {
                text-align: left;
            }
            .partner-grid {
                width: 100%;
                height: 150px;
            }
        }
    }
    
    .sticky-brochure {
        width: 40%;
        height: 100vh;
        padding: 25px;
        box-shadow: -6px 0 25px $shadow-1;
        position: sticky;
        top: 0;
        overflow: auto;
        @media(max-width: 950px) {
            display: none;
        }
    }
}

.orphan-mobile-cta {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    @media(min-width: 951px) {
        display: none;
    }
    button {
        width: 80%;
        font-size: 1.4rem;
        font-weight: 600;
        color: $white;
        background-color:#D6504D;
        padding: 15px;
        box-shadow: 0 3px 21px rgba(239,100,97,0.6);
        cursor: pointer;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease;

        @media(max-width: 500px) {
            width: 100%;
        }
        @media(max-width: 390px) {
           font-size: 1.2rem;
        }
    }
        @keyframes color {
        from {
        
        }
        to {
            background-color:$accent-red-3;
        }
        }
}