
.orphan-brochure-wrapper {
    display: flex;
    @media(max-width: 950px) {
        flex-direction: column;
    }
    .orphan-content {
        width: 60%;
        @media(max-width: 950px) {
            width: 100%;
        }       
        .section-heading {
            font-size: 2rem;
            font-weight: 500;
            font-family: $fontHeadings;
        } 
        .orphan-hero {
            position: relative;
            width: 100%;
            height: 400px;
        }
        .orphan-header {
            padding: 15px;
            .section-heading  {
                font-size: 2rem;
                text-align: left;
            }
            .section-subheading {
                font-size: 1.4rem;
                text-align: left;
                margin-top:5px;
            }
        }
        .chair-showcase {
            width: 100%;
            height: 200px;
            position: relative
        }
        .orphan-section {
            padding: 15px;
            .section-heading {
                font-size: 2.1rem;
                margin-top: 25px;
            }
            .section-subheading {
                font-size: 1.3rem;
                margin-top: 5px;
                line-height: 1.4;
            }
            .health-grid {
                display: grid;
                grid-template-columns: repeat(2 , 1fr);
                margin: 40px 0;
                .health-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px $lighter-grey solid;
                    padding: 20px;
                     text-align: center;
                    &:nth-of-type(odd) {
                        border-right: 1px $lighter-grey solid;
                    }
                    &:nth-of-type(5) {
                        border-bottom: none;
                    }
                    &:nth-of-type(6) {
                        border-bottom: none;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .orphan-quote { 
            padding: 40px 25px;
            .quote {
                font-size: 1.8rem;
                font-weight: 500;
                font-family: $fontHeadings;
                color: $dark-green-1;
                margin-bottom: 15px;
            }
            .quote-author, .quote-location {
                font-size: 1.4rem;
                font-weight: 500;
            }
            .quote-author {
                margin-bottom: 2px;
            }
        }
  
        .brochure-reason {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;;
            }
            .number {
                font-size: 1.4rem;
                font-weight: 600;
                background-color: $light-green-1;
                color: $oaktree-green;
                border-radius: 50%;
                width: 45px;
                height:45px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left:5px;
            }
            p {
                font-size: 1.2rem;
                line-height: 1.4;
                margin-top: 15px;
            }
        }
        .testimonial-carousel {
            padding: 25px 0;
            .testimonial-item {
                width: 100%;
                height: 500px;
                position: relative;
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                padding: 15px;
                .image-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .bg-gradient {
                    background: rgb(255,255,255);
                    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(39,51,45,1) 100%);
                    position: absolute;
                    top:0;
                    left:0 ;
                    width: 100%;
                    height: 100%;
                }
                .cx-details {
                    position: relative;
                    z-index: 5;;
                    margin-top: auto;
                    p {
                        color: $white;
                        font-size: 1.2rem;
                    }
                    .cx-name {
                        margin-bottom:5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .trustpilot-logo {
            margin-top: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;
            p {
                font-size: 2.5rem;
                font-weight: 600;
                
                padding: 10px 0;
                padding-top: 0px;
            }
        }
        .tp-carousel {
            width: 100%;
            .tp-review {
                .tp-head {                    
                    .tp-rating {
                        margin-bottom: 10px;
                    }
                    .tp-headline {
                        font-size: 1.5rem;
                        font-weight: 500;
                        font-family: $fontHeadings;
                        color: $dark-green-1;
                        line-height: 1.3;
                    }
                }
                .tp-content {
                    padding: 10px 0;
                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.5;
                        opacity: 0.8;
                    }
                }
                .tp-footer {
                    display: flex;
                    padding-top: 15px;
                    p {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    .tp-author{
                        margin-right: auto;
                    }
                }
            }
        }
        .reason-grid {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            .reason {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 25px 0;
                .reason-title {
                    display: flex;
                    padding: 10px 0;
                    .number {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $dark-green-1;
                        margin-right: 10px;
                    }
                    .title {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
                .reason-content {
                    font-size: 1.2rem;
                    font-weight: 300;
                    line-height: 1.4;
                    text-align: center;
                    opacity: 0.8;
                }
            }
        }
 
    }
    .sticky-brochure {
        width: 40%;
        height: 100vh;
        padding: 25px;
        box-shadow: -6px 0 25px $shadow-1;
        position: sticky;
        top: 0;
        overflow: auto;
        @media(max-width: 950px) {
            display: none;
        }
    }
}

.orphan-mobile-cta {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    @media(min-width: 951px) {
        display: none;
    }
    button {
        width: 80%;
        font-size: 1.4rem;
        font-weight: 600;
        color: $white;
        background-color:#D6504D;
        padding: 15px;
        box-shadow: 0 3px 21px rgba(239,100,97,0.6);
        cursor: pointer;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease;

        @media(max-width: 500px) {
            width: 100%;
        }
        @media(max-width: 390px) {
           font-size: 1.2rem;
        }
    }
        @keyframes color {
        from {
        
        }
        to {
            background-color:$accent-red-3;
        }
        }
}