.hero-inner {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
    .hero-cta  {
        background: none;
        box-shadow: none;
        margin-top: 25px;
        color: $dark-green-3;
        text-transform: none;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
}

.section-info {
    width: 100%;
    display: flex;
    margin-top: 50px;
    padding: 0 30px;
    .content-info {
        width: 55%;
        padding: 50px 0;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:nth-child(2){
            padding-left: 25px;
            padding-right: 0px;
        }
        p {
            margin: 25px 0;
            text-align: center;
            font-size: 1.1rem;
        }
        .learn-more {
            background: none;
            box-shadow: none;
            color: $dark-green-3;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: none;
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
            cursor: pointer;
        }
    }
    .content-imagery {
        width: 45%;
        position: relative;
    }
}
section.accessories {
    h4 {
        margin-right: auto;
        text-align: left;
        margin-left: 70px;
    }
}
.option-table {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: 50px;
    .option-row {
        padding: 40px;
        border-top:1px $lighter-grey solid;
        display: flex;
        &:last-of-type {
            border-bottom:1px $lighter-grey solid;
        }
        .option-content {
            width: 50%;
            .option-name {
                font-size: 1.2rem;
                font-weight: 600;
                color: $dark-green-1;
            }
            .option-p {
                font-size: 1.1rem;
            }
        }
        .option-imagery {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            // background-color: rgba(0,0,0,0.1)
        }
    }
}
.product-cta {
    display: flex;
    padding: 50px 30px;
    margin-top: 50px;
    .cta-wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content:  center;
        padding-left: 30px;
        h5 {
            text-align: left;
            margin-right: auto;
            font-size: 2.2rem;
        }
        span {
            font-size: 2.2rem;
            color: $dark-green-3;
        }
    }
    .button-wrapper {
        margin-top: 50px;
        button {
            border: 3px solid $dark-green-1;
            background-color: $dark-green-1;
            color: $white;
            border-radius: 50px;
            margin-right: 30px;
            font-weight: 600;
            padding: 15px 35px;
            box-shadow: none;
            cursor: pointer;
        }
        .white-bg {
            background-color: $white;
            color: $dark-green-1;
        }
    }
}

.recommended-products {
    width: 100%;
    padding: 0 30px;
    h6 {
        text-align: left;
        font-weight: 800;
    }
    .recommended-flex {
        display: flex;
        margin-top: 50px;
        .product-item {
            position: relative;
            width: 33.33%;
            height: 400px;
            border: 1px solid $lighter-grey;
            cursor: pointer;
            .hover-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $dark-green-2;
                overflow: hidden;
                cursor: pointer;
                transform-origin: 0 100%;
                transition: transform .5s;
                transform: scaleY(0);

                .product-name {
                    font-size: 2.5rem;
                    font-weight: 600;
                    font-family: $fontHeadings;
                    color: $white;
                    margin: 0;
                    transform: translate(0, 1000px);
                    transition :0.5s;
                }
                .product-cta {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: $dark-green-4;
                    margin: 0;
                    padding: 0;
                    transform: translate(0,1200px);
                    transition :0.9s;
                }
            }
        }
        .product-item:hover {
            .hover-info {
                transform: scaleY(1);
                .product-name {
                    transform: translate(0, 0px);
                }
                .product-cta {
                    transform: translate(0, 20px);
                }
            }
        }
        .accent-blue-2 {
            .hover-info {
                background-color: $accent-blue-3;
                .product-cta {
                    color: $accent-blue-1;
                }
            }
        }
        .dark-green-5 {
            .hover-info {
                background-color: $dark-green-5;
                .product-name {
                    color: $dark-green-1;
                }
                .product-cta {
                    color: $dark-green-3;
                }
            } 
        }
    }
}
