.resources {
    padding-top: 25px;
    margin-bottom: 50px;
    h6 {
        color: $dark-green-1;
    }
    .resource-grid {
        display: flex;
        flex-direction: column;

        @media(min-width: 700px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .resource {
            margin-top: 15px;
            @media(min-width: 700px) and (max-width: 999px){
                width: calc(50% - 7.5px);
     
                &:last-of-type {
                    display: none;
                }
            }
            @media(min-width: 1000px) {
                width: calc(33.3% - 15px)
            }
            .video-wrapper {
                position: relative;
                width: 100%;
                
                iframe{
                    width: 100%;
                    height: 250px;
                }
            }
            .img-wrapper{ 
                position: relative;
                width: 100%;
                height: 250px;
                display: flex;
            }
            .subheading {
                font-size: 1.7rem;
                font-weight: 500;
                color: $oaktree-green;
                margin-top: 15px;
                letter-spacing: 0.2px;
                margin-bottom:2px;
            }
            .heading {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.4;
                text-align: left;
                margin: 0 0;
                padding:0;
            }
            .link {
                font-size: 1.8rem;
                font-weight: 500;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;
                margin-top: 15px;
                color: $dark-green-1;
                cursor: pointer;
                @media(min-width: 650px) {
                    margin-top: 25px;
                }
            }
        }
    }
}